openapi: 3.0.0
info:
  title: Keboola Connection Management API
  description: 'The Keboola Connection Management API covers all tasks required for
    managing

    projects, plus super-admin features for controlling and monitoring Keboola Connection.


    ## Projects management

    * Create, modify and delete maintainers, organizations and projects

    * Move projects between organizations

    * Define project limits

    * Provision storage backends

    * Access project management activity log


    ## Projects monitoring

    * Monitoring of projects across organizations and maintainers


    ## Super user control and monitoring

    * UI release and deployment

    * Components management

    * Final project delete

    * Workers start/shutdown, etc.


    ## Authentication

    The API authenticates with a personal access token sent in the `X-KBC-ManageApiToken`

    header. Tokens can be created in

    [Account Settings](https://connection.keboola.com/admin/account/change-password)

    in Keboola Connection. A token is tied to an administrator and inherits that

    administrator''s permissions; when the administrator is disabled or deleted, all

    their tokens become invalid.


    ```

    curl -H "X-KBC-ManageApiToken: USER_TOKEN" https://connection.keboola.com/manage/tokens/verify

    ```


    ## Token types

    | Type  | Tied to a user | Token string visible only on create | Description |

    | ----- | -------------- | ----------------------------------- | ----------- |

    | user  | Yes            | Yes                                 | Full access to
    maintainers, organizations and projects the user can see. |

    | super | No             | Yes                                 | KBC management.
    Scopes such as `super_ui_deploy`, `super_monitoring` etc. can be limited per-token.
    |


    Legacy Apiary reference: see the

    [Manage API blueprint](https://github.com/keboola/connection/blob/master/Package/ManageApiPhpClient/apiary.apib)

    for the historical document this OpenAPI spec is migrating from.

    '
  version: '1.0'
servers:
- url: https://connection.keboola.com
  description: AWS US East
- url: https://connection.eu-central-1.keboola.com
  description: AWS EU Central
- url: https://connection.north-europe.azure.keboola.com
  description: Azure North Europe
- url: https://connection.east-us-2.azure.keboola-testing.com
  description: Azure Testing
paths:
  /manage/commands:
    post:
      tags:
      - SUPER - Commands
      summary: Run Command
      description: 'Executes a Keboola Connection CLI command asynchronously. The
        command is enqueued to the commands queue, `commandExecutionId` is returned.

        You can use this ID to search the command output in Papertrail logs.'
      operationId: post_/manage/commands::CommandEnqueueAction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnqueueCommandRequest'
      responses:
        '200':
          description: Identifier of the enqueued command execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnqueueCommandResponse'
              example:
                commandExecutionId: 123-abcd
        '400':
          description: Returned when the request body fails validation (missing `command`,
            wrong types).
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the current admin is not a super admin.
  /manage/current-user/maintainers-invitations/{id}:
    get:
      tags:
      - My Account
      summary: My maintainer invitation detail
      description: Returns detail of the specified maintainer invitation addressed
        to the current user.
      operationId: get_/manage/current-user/maintainers-invitations/{id}::MaintainerInvitationDetailAction
      parameters:
      - name: id
        in: path
        description: Invitation identifier.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 113
      responses:
        '200':
          description: Maintainer invitation detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintainerInvitationResponse'
              example:
                id: 113
                created: 2018-07-10T11:13:00+0200
                maintainer:
                  id: 7
                  name: Keboola CZ
                creator:
                  id: 2
                  name: Martin Halamicek
                  email: martin@keboola.com
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to view the
            invitation.
        '404':
          description: Returned when the invitation does not exist.
    put:
      tags:
      - My Account
      summary: Accept a maintainer invitation
      description: Invitation will be accepted and current user will become a member
        of the maintainer.
      operationId: put_/manage/current-user/maintainers-invitations/{id}::MaintainerInvitationAcceptAction
      parameters:
      - name: id
        in: path
        description: Invitation identifier.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 113
      responses:
        '202':
          description: Invitation accepted successfully.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to accept
            the invitation.
        '404':
          description: Returned when the invitation does not exist.
    delete:
      tags:
      - My Account
      summary: Reject maintainer invitation
      description: Rejects the specified maintainer invitation for the current user.
      operationId: delete_/manage/current-user/maintainers-invitations/{id}::MaintainerInvitationRejectAction
      parameters:
      - name: id
        in: path
        description: Identifier of the invitation.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 113
      responses:
        '204':
          description: Invitation rejected successfully.
        '403':
          description: Returned when the token does not have permission.
        '404':
          description: Returned when the invitation does not exist.
  /manage/current-user/maintainers-invitations:
    get:
      tags:
      - My Account
      summary: List my maintainer invitations
      description: Returns a list of maintainer invitations addressed to the current
        user.
      operationId: get_/manage/current-user/maintainers-invitations::MaintainerInvitationListAction
      responses:
        '200':
          description: List of maintainer invitations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MaintainerInvitationResponse'
              example:
              - id: 113
                created: 2018-07-10T11:13:00+0200
                maintainer:
                  id: 7
                  name: Keboola CZ
                creator:
                  id: 2
                  name: Martin Halamicek
                  email: martin@keboola.com
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to list invitations.
  /manage/current-user/organizations-invitations/{id}:
    get:
      tags:
      - My Account
      summary: My organization invitation detail
      description: Returns detail of the specified organization invitation addressed
        to the current user.
      operationId: get_/manage/current-user/organizations-invitations/{id}::OrganizationInvitationDetailAction
      parameters:
      - name: id
        in: path
        description: Invitation identifier.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 113
      responses:
        '200':
          description: Organization invitation detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInvitationResponse'
              example:
                id: 113
                created: 2018-07-10T11:13:00+0200
                organization:
                  id: 7
                  name: Keboola CZ
                creator:
                  id: 2
                  name: Martin Halamicek
                  email: martin@keboola.com
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to view the
            invitation.
        '404':
          description: Returned when the invitation does not exist.
    put:
      tags:
      - My Account
      summary: Accept an organization invitation
      description: Invitation will be accepted and current user will become a member
        of the organization.
      operationId: put_/manage/current-user/organizations-invitations/{id}::OrganizationInvitationAcceptAction
      parameters:
      - name: id
        in: path
        description: Invitation identifier.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 113
      responses:
        '202':
          description: Invitation accepted successfully.
        '400':
          description: Returned when the organization requires MFA and the current
            user does not have MFA enabled.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to accept
            the invitation.
        '404':
          description: Returned when the invitation does not exist.
    delete:
      tags:
      - My Account
      summary: Reject organization invitation
      description: Rejects the specified organization invitation for the current user.
      operationId: delete_/manage/current-user/organizations-invitations/{id}::OrganizationInvitationRejectAction
      parameters:
      - name: id
        in: path
        description: Identifier of the invitation.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 113
      responses:
        '204':
          description: Invitation rejected successfully.
        '403':
          description: Returned when the token does not have permission.
        '404':
          description: Returned when the invitation does not exist.
  /manage/current-user/organizations-invitations:
    get:
      tags:
      - My Account
      summary: List my organization invitations
      description: Returns a list of organization invitations addressed to the current
        user.
      operationId: get_/manage/current-user/organizations-invitations::OrganizationInvitationListAction
      responses:
        '200':
          description: List of organization invitations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationInvitationResponse'
              example:
              - id: 113
                created: 2018-07-10T11:13:00+0200
                organization:
                  id: 7
                  name: Keboola CZ
                creator:
                  id: 2
                  name: Martin Halamicek
                  email: martin@keboola.com
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to list invitations.
  /manage/current-user/projects-invitations/{id}:
    get:
      tags:
      - My Account
      summary: My project invitation detail
      description: Returns detail of the specified project invitation addressed to
        the current user.
      operationId: get_/manage/current-user/projects-invitations/{id}::ProjectInvitationDetailAction
      parameters:
      - name: id
        in: path
        description: Invitation identifier.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 113
      responses:
        '200':
          description: Project invitation detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectInvitationResponse'
              example:
                id: 113
                created: 2018-07-10T11:13:00+0200
                expires: null
                reason: ''
                role: admin
                project:
                  id: 7
                  name: Martinovo
                creator:
                  id: 2
                  name: Martin Halamicek
                  email: martin@keboola.com
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to view the
            invitation.
        '404':
          description: Returned when the invitation does not exist.
    put:
      tags:
      - My Account
      summary: Accept a project invitation
      description: Invitation will be accepted and current user will be added to the
        project.
      operationId: put_/manage/current-user/projects-invitations/{id}::ProjectInvitationAcceptAction
      parameters:
      - name: id
        in: path
        description: Invitation identifier.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 113
      responses:
        '202':
          description: Invitation accepted successfully.
        '400':
          description: Returned when the project requires MFA and the current user
            does not have MFA enabled.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to accept
            the invitation.
        '404':
          description: Returned when the invitation does not exist.
    delete:
      tags:
      - My Account
      summary: Decline a invitation
      description: Declines the specified project invitation addressed to the current
        user.
      operationId: delete_/manage/current-user/projects-invitations/{id}::ProjectInvitationRejectAction
      parameters:
      - name: id
        in: path
        description: Invitation identifier.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 113
      responses:
        '204':
          description: Invitation declined successfully.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to decline
            the invitation.
        '404':
          description: Returned when the invitation does not exist.
  /manage/current-user/projects-invitations:
    get:
      tags:
      - My Account
      summary: List my project invitations
      description: Returns a list of project invitations addressed to the current
        user.
      operationId: get_/manage/current-user/projects-invitations::ProjectInvitationListAction
      responses:
        '200':
          description: List of project invitations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectInvitationResponse'
              example:
              - id: 113
                created: 2018-07-10T11:13:00+0200
                expires: null
                reason: ''
                role: admin
                project:
                  id: 7
                  name: Martinovo
                creator:
                  id: 2
                  name: Martin Halamicek
                  email: martin@keboola.com
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to list invitations.
  /manage/current-user/projects-join-requests/{id}:
    get:
      tags:
      - My Account
      summary: My join request detail
      description: Returns detail of the specified project join request submitted
        by the current user.
      operationId: get_/manage/current-user/projects-join-requests/{id}::ProjectJoinRequestDetailAction
      parameters:
      - name: id
        in: path
        description: Join request identifier.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 124
      responses:
        '200':
          description: Project join request detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectJoinRequestResponse'
              example:
                id: 124
                created: 2016-02-22T15:01:13+0200
                expires: 2016-03-22T15:01:13+0200
                reason: temporary test
                project:
                  id: 324
                  name: Main project
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to view the
            join request.
        '404':
          description: Returned when the join request does not exist.
    delete:
      tags:
      - My Account
      summary: Cancel a join request
      description: Cancels the specified project join request submitted by the current
        user.
      operationId: delete_/manage/current-user/projects-join-requests/{id}::ProjectJoinRequestCancelAction
      parameters:
      - name: id
        in: path
        description: Join request identifier.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 124
      responses:
        '204':
          description: Join request cancelled successfully.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to cancel
            the join request.
        '404':
          description: Returned when the join request does not exist.
  /manage/current-user/projects-join-requests:
    get:
      tags:
      - My Account
      summary: List my join requests
      description: Returns a list of project join requests submitted by the current
        user.
      operationId: get_/manage/current-user/projects-join-requests::ProjectJoinRequestListAction
      responses:
        '200':
          description: List of project join requests.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectJoinRequestResponse'
              example:
              - id: 124
                created: 2016-02-22T15:01:13+0200
                expires: 2016-03-22T15:01:13+0200
                reason: temporary test
                project:
                  id: 324
                  name: Main project
              - id: 127
                created: '2014-11-11T08:40:51+00:00'
                expires: null
                reason: ''
                project:
                  id: 423
                  name: Development
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to list join
            requests.
  /manage/current-user/session-token:
    post:
      tags:
      - My Account
      summary: Create session token
      description: Creates a session token for the current user.
      operationId: post_/manage/current-user/session-token::SessionTokenCreateAction
      responses:
        '201':
          description: Session token created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionTokenResponse'
        '403':
          description: Returned when the token does not have permission.
  /manage/deleted-projects/{projectId}:
    get:
      tags:
      - Deleted Projects
      summary: Deleted project detail
      description: 'Returns detailed information about a project scheduled for deletion.


        This endpoint can also be accessed using application tokens with scope `deleted-projects:read`
        or user token with feature `can-manage-deleted-projects`.'
      operationId: get_/manage/deleted-projects/{projectId}::DeletedProjectDetailAction
      parameters:
      - name: projectId
        in: path
        description: Identifier of the deleted project.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 101
      responses:
        '200':
          description: Deleted project detail response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedProjectResponse'
              example:
                id: 101
                name: test project
                type: production
                region: eu-west-1
                created: 2017-02-15T14:25:15+0100
                expires: null
                features: []
                dataSizeBytes: 49152
                rowsCount: 200
                hasMysql: false
                hasSynapse: false
                hasExasol: false
                hasTeradata: false
                hasSnowflake: true
                defaultBackend: snowflake
                hasTryModeOn: '0'
                limits: {}
                metrics: {}
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 1
                isPurged: false
                isDeleted: true
                deletedTime: 2018-02-11T14:25:15+0100
                purgedTime: null
                isBYODB: false
        '400':
          description: Returned when the project is not deleted or was permanently
            removed.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to view the
            deleted project.
        '404':
          description: Returned when the project does not exist.
    delete:
      tags:
      - Deleted Projects
      summary: Cancel project deletion
      description: 'Cancelling project deletion is allowed only for a super admin
        or user with feature `can-manage-deleted-projects`.

        If the project has set expiration, the expiration is reset on the project
        renewal.

        You can also specify new expiration by `expirationDays` parameter.'
      operationId: delete_/manage/deleted-projects/{projectId}::ProjectDeletionCancelAction
      parameters:
      - name: projectId
        in: path
        description: Identifier of the deleted project.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 101
      - name: expirationDays
        in: query
        description: Project expiration in days.
        required: false
        schema:
          type: integer
        example: 30
      responses:
        '204':
          description: Deletion canceled successfully.
        '400':
          description: Returned when the project is not deleted or was permanently
            removed.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to cancel
            project deletion.
        '404':
          description: Returned when the project does not exist.
  /manage/deleted-projects:
    get:
      tags:
      - Deleted Projects
      summary: List deleted projects
      description: 'Listing deleted projects is allowed only for a super admin or
        user with feature `can-manage-deleted-projects`.


        #### Projects filtering


        Projects can be filtered by various filters:


        * *organizationId* - organization ID

        * *name* - name of the project


        #### Projects pagination


        * *limit* - number of returned projects; default value: 100

        * *offset* - pagination offset'
      operationId: get_/manage/deleted-projects::DeletedProjectsListAction
      parameters:
      - name: limit
        in: query
        description: 'Number of returned projects. Default value: 100.'
        required: false
        schema:
          type: integer
        example: 100
      - name: offset
        in: query
        description: Pagination offset.
        required: false
        schema:
          type: integer
        example: 0
      - name: organizationId
        in: query
        description: Filter projects by organization identifier.
        required: false
        schema:
          type: integer
        example: 1
      - name: name
        in: query
        description: Filter projects by name.
        required: false
        schema:
          type: string
        example: test project
      responses:
        '200':
          description: Deleted projects list response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedProjectsListResponse'
              example:
              - id: 101
                name: test project
                type: production
                region: eu-west-1
                created: 2017-02-15T14:25:15+0100
                expires: null
                features: []
                dataSizeBytes: 49152
                rowsCount: 200
                hasMysql: false
                hasSnowflake: true
                hasSynapse: false
                hasTeradata: false
                hasExasol: false
                defaultBackend: snowflake
                hasTryModeOn: '0'
                limits: {}
                metrics: {}
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 7
                isBYODB: false
                isPurged: false
                isDeleted: true
                deletedTime: 2018-02-11T14:25:15+0100
                purgedTime: null
                organization:
                  id: 1
                  name: Keboola Tests
                  created: ''
                  allowAutoJoin: true
              - id: 104
                name: another test project
                type: production
                region: eu-west-1
                created: 2017-02-15T14:25:15+0100
                expires: null
                features: []
                dataSizeBytes: 49152
                rowsCount: 200
                hasMysql: false
                hasSnowflake: true
                hasSynapse: false
                hasTeradata: false
                hasExasol: false
                defaultBackend: snowflake
                hasTryModeOn: '0'
                limits: {}
                metrics: {}
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 7
                isBYODB: false
                isPurged: false
                isDeleted: true
                deletedTime: 2018-02-11T14:25:15+0100
                purgedTime: null
                organization:
                  id: 1
                  name: Keboola Tests
                  created: ''
                  allowAutoJoin: true
        '400':
          description: Returned when the supplied organization is not found.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to list deleted
            projects.
  /manage/deleted-projects/{projectId}/purge:
    post:
      tags:
      - Deleted Projects
      summary: Purge deleted project
      description: Enqueues the command that fully deletes a project and returns its
        execution ID for monitoring.
      operationId: post_/manage/deleted-projects/{projectId}/purge::ProjectPurgeAction
      parameters:
      - name: projectId
        in: path
        description: Identifier of the deleted project to purge.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 101
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectPurgeRequest'
            example:
              ignoreBackendErrors: false
      responses:
        '200':
          description: Identifier of the enqueued purge command.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnqueueCommandResponse'
              example:
                commandExecutionId: 123-abcd
        '400':
          description: Returned when the project is not deleted.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to purge deleted
            projects.
        '404':
          description: Returned when the project does not exist.
  /manage/features/{id}/admins:
    get:
      tags:
      - SUPER - Features
      summary: Retrieve feature users
      description: Gets the users with the specified feature assigned.
      operationId: get_/manage/features/{id}/admins::FeatureAdminListAction
      parameters:
      - name: id
        in: path
        description: ID of the feature.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 1
      responses:
        '200':
          description: List of admins with the feature assigned.
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    id:
                      description: Admin identifier.
                      type: integer
                      example: 1
                    name:
                      description: Admin name.
                      type: string
                      example: Test user
                    email:
                      description: Admin email address.
                      type: string
                      example: test@example.com
                  type: object
              example:
              - id: 1
                name: Test user
                email: test@example.com
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the current admin is not a super admin.
        '404':
          description: Returned when the feature does not exist.
  /manage/features:
    get:
      tags:
      - SUPER - Features
      summary: Retrieve all features
      description: 'Gets all features. To filter only the features with a specific
        type, add the `type` parameter to your query.


        In case the token you are using for the call does not have super admin permissions,
        the response will only contain features that have `canBeManageByAdmin: true`,
        `canBeManagedViaAPI: true` set.'
      operationId: get_/manage/features::FeatureListAction
      parameters:
      - name: type
        in: query
        description: Type of features you want to filter.
        required: false
        schema:
          type: string
        example: admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/FeatureListRequest'
      responses:
        '200':
          description: Features list response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureListResponse'
              example:
              - id: 1
                name: show-new-design
                type: admin
                title: Show new design
                description: Users with this feature will see new UI
                created: '2016-04-28T15:24:51.620Z'
        '401':
          description: Returned when the Manage token is missing or invalid.
        '422':
          description: Returned when request parameters are invalid.
    post:
      tags:
      - SUPER - Features
      summary: Create a feature
      description: '**Deprecated.** Features should be provisioned via migrations
        rather than the API; this endpoint will be removed in a future release.


        **Unless there is a specific reason why the feature MUST NOT be present on
        some stack, implement it through migration.**


        To create a new feature, provide the following parameters as JSON in the request
        body:


        If the `canBeManageByAdmin` parameter is true, the token of a user without
        a super admin role can assign the feature. In the case of the `project` feature,
        it must be in the project and have the `Admin` role. It is not enough to have
        the maintainer admin or organization admin permission.


        In the case of the `admin` role, an admin who does not have super admin privileges
        can only set the feature for himself.'
      operationId: post_/manage/features::FeatureCreateAction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeatureCreateRequest'
      responses:
        '201':
          description: Feature has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureResponse'
              example:
                id: 1
                name: show-new-design
                type: admin
                title: Show new design
                description: Users with this feature will see new UI
                canBeManageByAdmin: false
                canBeManagedViaAPI: true
                created: '2016-04-28T15:24:51.620Z'
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the current admin is not a super admin.
        '422':
          description: Returned when request parameters are invalid or feature already
            exists.
      deprecated: true
  /manage/features/{id}:
    get:
      tags:
      - SUPER - Features
      summary: Retrieve one feature
      description: 'In case your token that you use when calling does not have super
        admin permissions, the feature must have parameters `canBeManageByAdmin: true`,
        `canBeManagedViaAPI: true` set to be able to view its detail. Otherwise the
        response will be 404 Not Found.'
      operationId: get_/manage/features/{id}::FeatureDetailAction
      parameters:
      - name: id
        in: path
        description: ID of the feature.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 1
      responses:
        '200':
          description: Detailed feature information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureResponse'
              example:
                id: 1
                name: show-new-design
                type: admin
                title: Show new design
                description: Users with this feature will see new UI
                created: '2016-04-28T15:24:51.620Z'
        '401':
          description: Returned when the Manage token is missing or invalid.
        '404':
          description: Returned when the feature does not exist or is not visible
            to the current admin.
    delete:
      tags:
      - SUPER - Features
      summary: Delete a feature
      description: Delete an existing feature.
      operationId: delete_/manage/features/{id}::FeatureDeleteAction
      parameters:
      - name: id
        in: path
        description: ID of the feature to delete.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 1
      responses:
        '204':
          description: Feature has been deleted.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the current admin is not a super admin.
        '404':
          description: Returned when the feature does not exist.
    patch:
      tags:
      - SUPER - Features
      summary: Update a feature
      description: A partial update of a feature.
      operationId: patch_/manage/features/{id}::FeatureUpdateAction
      parameters:
      - name: id
        in: path
        description: ID of the feature to update.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeatureUpdateRequest'
      responses:
        '200':
          description: Feature has been updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureResponse'
              example:
                id: 1
                name: show-new-design
                type: admin
                title: Show new design
                description: Users with this feature will see new UI
                canBeManageByAdmin: false
                canBeManagedViaAPI: true
                created: '2016-04-28T15:24:51.620Z'
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the current admin is not a super admin.
        '404':
          description: Returned when the feature does not exist.
        '422':
          description: Returned when request parameters are invalid.
  /manage/features/{id}/projects:
    get:
      tags:
      - SUPER - Features
      summary: Retrieve feature projects
      description: Gets the projects with the specified feature assigned.
      operationId: get_/manage/features/{id}/projects::FeatureProjectListAction
      parameters:
      - name: id
        in: path
        description: ID of the feature.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 1
      responses:
        '200':
          description: List of projects with the feature assigned.
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    id:
                      description: Project identifier.
                      type: integer
                      example: 771
                    name:
                      description: Project name.
                      type: string
                      example: Test project
                  type: object
              example:
              - id: 771
                name: Test project
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the current admin is not a super admin.
        '404':
          description: Returned when the feature does not exist.
  /manage/file-storage-abs:
    get:
      tags:
      - SUPER - File Storage Management
      summary: List Azure Blob Storage
      description: Returns all registered Azure Blob Storages.
      operationId: get_/manage/file-storage-abs::FileStorageAbsListAction
      responses:
        '200':
          description: List of registered Azure Blob Storages.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileStorageAbsResponse'
              example:
              - id: 123
                accountName: nameofaccount
                region: us-east-1
                containerName: name-of-container
                provider: azure
                owner: keboola
                isDefault: false
                created: '2019-06-17T15:07:48+01:00'
                creator:
                  id: 123
                  name: name-of-creator
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the Manage token does not have admin privileges
            or the current admin is not a super admin.
    post:
      tags:
      - SUPER - File Storage Management
      summary: Create new Azure Blob Storage
      description: 'Superuser credentials are not required for storage registration.


        Will register new Azure Blob Storage for using inside KBC. Connection will
        be verified during registration.'
      operationId: post_/manage/file-storage-abs::FileStorageAbsCreateAction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileStorageCreateAbsRequest'
      responses:
        '200':
          description: ABS file storage created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileStorageAbsResponse'
              example:
                id: 123
                accountName: nameofaccount
                region: us-east-1
                containerName: name-of-container
                provider: azure
                owner: keboola
                isDefault: false
                created: '2019-06-17T15:07:48+01:00'
                creator:
                  id: 123
                  name: name-of-creator
        '400':
          description: Returned when request parameters fail validation or when the
            Azure Blob Storage connection cannot be established with the provided
            credentials.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the Manage token does not have admin privileges.
            Superuser credentials are not required for storage registration.
  /manage/file-storage-abs/{fileStorageId}/credentials:
    post:
      tags:
      - SUPER - File Storage Management
      summary: Rotate ABS file storage credentials
      description: Rotate credentials for an Azure Blob Storage file storage backend.
      operationId: post_/manage/file-storage-abs/{fileStorageId}/credentials::FileStorageAbsRotateCredentialsAction
      parameters:
      - name: fileStorageId
        in: path
        description: Identifier of the file storage.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/FileStorageRotateAbsRequest'
      responses:
        '200':
          description: ABS file storage credentials rotated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileStorageAbsResponse'
        '403':
          description: Returned when access is denied.
        '404':
          description: Returned when the file storage does not exist.
        '400':
          description: Returned when request parameters are invalid.
  /manage/file-storage-abs/{fileStorageId}/default:
    post:
      tags:
      - SUPER - File Storage Management
      summary: Set Blob Storage as default
      description: Only storage owned by **keboola** can be set as default.
      operationId: post_/manage/file-storage-abs/{fileStorageId}/default::FileStorageAbsSetDefaultAction
      parameters:
      - name: fileStorageId
        in: path
        description: File Storage ID.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 123
      responses:
        '200':
          description: ABS file storage set as default.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileStorageAbsResponse'
              example:
                id: 123
                accountName: nameofaccount
                region: us-east-1
                containerName: name-of-container
                provider: azure
                owner: keboola
                isDefault: true
                created: '2019-06-17T15:07:48+01:00'
                creator:
                  id: 123
                  name: name-of-creator
        '400':
          description: Returned when the storage is already set as default or is not
            owned by Keboola.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the Manage token does not have admin privileges
            or the current admin is not a super admin.
        '404':
          description: Returned when the file storage does not exist.
  /manage/file-storage-gcs:
    get:
      tags:
      - SUPER - File Storage Management
      summary: List Google Cloud Storage
      description: Returns all registered Google Cloud Storages.
      operationId: get_/manage/file-storage-gcs::FileStorageGcsListAction
      responses:
        '200':
          description: List of registered Google Cloud Storages.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileStorageGcsResponse'
              example:
              - id: 123
                isDefault: false
                provider: gcp
                region: europe-west1
                created: '2019-06-17T15:07:48+01:00'
                creator:
                  id: 123
                  name: Joe "The Admin" Doe
                gcsCredentials:
                  type: service_account
                  project_id: '123456789'
                  private_key_id: xxx
                  client_email: something@else.iam.gserviceaccount.com
                  client_id: '123456789'
                  auth_uri: https://accounts.google.com/o/oauth2/auth
                  token_uri: https://oauth2.googleapis.com/token
                  auth_provider_x509_cert_url: https://www.googleapis.com/oauth2/v1/certs
                  client_x509_cert_url: https://www.googleapis.com/robot/v1/metadata/x509/something
                gcsSnowflakeIntegrationName: KEBOOLA_123_GCS
                filesBucket: my-bucket
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the Manage token does not have admin privileges
            or the current admin is not a super admin.
    post:
      tags:
      - SUPER - File Storage Management
      summary: Create new Google Cloud Storage
      description: 'Superuser credentials are not required for storage registration.


        Will register new Google Cloud Storage for using inside KBC. Connection will
        be verified during registration.'
      operationId: post_/manage/file-storage-gcs::FileStorageGcsCreateAction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileStorageCreateGcsRequest'
      responses:
        '200':
          description: GCS file storage created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileStorageGcsResponse'
              example:
                id: 123
                isDefault: false
                provider: gcp
                region: europe-west1
                created: '2019-06-17T15:07:48+01:00'
                creator:
                  id: 123
                  name: Joe "The Admin" Doe
                gcsCredentials:
                  type: service_account
                  project_id: '123456789'
                  private_key_id: xxx
                  client_email: something@else.iam.gserviceaccount.com
                  client_id: '123456789'
                  auth_uri: https://accounts.google.com/o/oauth2/auth
                  token_uri: https://oauth2.googleapis.com/token
                  auth_provider_x509_cert_url: https://www.googleapis.com/oauth2/v1/certs
                  client_x509_cert_url: https://www.googleapis.com/robot/v1/metadata/x509/something
                gcsSnowflakeIntegrationName: KEBOOLA_123_GCS
                filesBucket: my-bucket
        '400':
          description: Returned when request parameters fail validation or when the
            Google Cloud Storage connection cannot be verified.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the Manage token does not have admin privileges.
            Superuser credentials are not required for storage registration.
  /manage/file-storage-gcs/{fileStorageId}/credentials:
    post:
      tags:
      - SUPER - File Storage Management
      summary: Rotate GCS file storage credentials
      description: Rotate credentials for a Google Cloud Storage file storage backend.
      operationId: post_/manage/file-storage-gcs/{fileStorageId}/credentials::FileStorageGcsRotateCredentialsAction
      parameters:
      - name: fileStorageId
        in: path
        description: Identifier of the file storage.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/FileStorageRotateGcsRequest'
      responses:
        '200':
          description: GCS file storage credentials rotated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileStorageGcsResponse'
        '403':
          description: Returned when access is denied.
        '404':
          description: Returned when the file storage does not exist.
        '400':
          description: Returned when request parameters are invalid.
  /manage/file-storage-gcs/{fileStorageId}/default:
    post:
      tags:
      - SUPER - File Storage Management
      summary: Set GCS file storage as default
      description: Set a Google Cloud Storage file storage backend as the default.
      operationId: post_/manage/file-storage-gcs/{fileStorageId}/default::FileStorageGcsSetDefaultAction
      parameters:
      - name: fileStorageId
        in: path
        description: Identifier of the file storage.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 12
      responses:
        '200':
          description: GCS file storage set as default.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileStorageGcsResponse'
        '403':
          description: Returned when access is denied.
        '404':
          description: Returned when the file storage does not exist.
        '400':
          description: Returned when request parameters are invalid.
  /manage/file-storage-s3:
    get:
      tags:
      - SUPER - File Storage Management
      summary: List storages
      description: Returns all registered AWS S3 storages.
      operationId: get_/manage/file-storage-s3::FileStorageS3ListAction
      responses:
        '200':
          description: List of registered AWS S3 storages.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileStorageS3Response'
              example:
              - id: 123
                awsKey: AKIAXXXXXXXXXXXXXXXXX
                filesBucket: kbc-sapi-files
                region: us-east-1
                owner: keboola
                isDefault: false
                provider: aws
                created: '2019-06-17T15:07:48+01:00'
                creator:
                  id: 123
                  name: name-of-creator
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the Manage token does not have admin privileges
            or the current admin is not a super admin.
    post:
      tags:
      - SUPER - File Storage Management
      summary: Create new AWS S3 Storage
      description: 'Superuser credentials are not required for storage registration.


        New S3 file Storage will be registered. Provided AWS credentials are verified
        and required permissions are validated. The Storage region is automatically
        detected.'
      operationId: post_/manage/file-storage-s3::FileStorageS3CreateAction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileStorageCreateS3Request'
      responses:
        '200':
          description: S3 file storage created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileStorageS3Response'
              example:
                id: 123
                awsKey: AKIAXXXXXXXXXXXXXXXXX
                filesBucket: kbc-sapi-files
                region: us-east-1
                owner: keboola
                isDefault: false
                provider: aws
                created: '2019-06-17T15:07:48+01:00'
                creator:
                  id: 123
                  name: name-of-creator
        '400':
          description: Returned when request parameters fail validation or when the
            AWS S3 / STS connection cannot be established with the provided credentials.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the Manage token does not have admin privileges.
            Superuser credentials are not required for storage registration.
  /manage/file-storage-s3/{fileStorageId}/credentials:
    post:
      tags:
      - SUPER - File Storage Management
      summary: Rotate S3 file storage credentials
      description: Rotate credentials for an S3 file storage backend.
      operationId: post_/manage/file-storage-s3/{fileStorageId}/credentials::FileStorageS3RotateCredentialsAction
      parameters:
      - name: fileStorageId
        in: path
        description: Identifier of the file storage.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/FileStorageRotateS3Request'
      responses:
        '200':
          description: S3 file storage credentials rotated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileStorageS3Response'
        '403':
          description: Returned when access is denied.
        '404':
          description: Returned when the file storage does not exist.
        '400':
          description: Returned when request parameters are invalid.
  /manage/file-storage-s3/{fileStorageId}/default:
    post:
      tags:
      - SUPER - File Storage Management
      summary: Set S3 Storage as default
      description: 'Each region should have associated one default Storage, which
        is used for every new project in the region.

        Only storage owned by **keboola** can be set as default.'
      operationId: post_/manage/file-storage-s3/{fileStorageId}/default::FileStorageS3SetDefaultAction
      parameters:
      - name: fileStorageId
        in: path
        description: File Storage ID.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 123
      responses:
        '200':
          description: S3 file storage set as default.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileStorageS3Response'
              example:
                id: 123
                awsKey: AKIAXXXXXXXXXXXXXXXXX
                filesBucket: kbc-sapi-files
                region: us-east-1
                owner: keboola
                isDefault: true
                provider: aws
                created: '2019-06-17T15:07:48+01:00'
                creator:
                  id: 123
                  name: name-of-creator
        '400':
          description: Returned when the storage is already set as default or is not
            owned by Keboola.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the Manage token does not have admin privileges
            or the current admin is not a super admin.
        '404':
          description: Returned when the file storage does not exist.
  /manage/internal/auth-bridge/resolve-storage-token:
    post:
      tags:
      - Internal
      summary: Resolve a legacy Storage token for auth bridge
      description: Validates a programmatic Connection bearer token and returns its
        decrypted legacy Storage token together with the full token detail (same payload
        as GET /v2/storage/tokens/verify), so callers do not need a follow-up verify
        call.
      operationId: post_/manage/internal/auth-bridge/resolve-storage-token::AuthBridgeStorageTokenResolveAction
      parameters:
      - name: X-Subject-Token
        in: header
        description: Programmatic Connection bearer token to resolve.
        required: true
        schema:
          type: string
          example: Bearer kbc_at_...
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthBridgeStorageTokenResolveRequest'
      responses:
        '200':
          description: Resolved legacy Storage token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthBridgeStorageTokenResolveResponse'
        '400':
          description: Returned when request data is invalid.
        '401':
          description: Returned when the subject token is missing or invalid.
        '403':
          description: Returned when the caller is not Kubernetes-authenticated or
            cannot access the project.
  /manage/kubernetes-service-accounts:
    get:
      tags:
      - SUPER - Kubernetes
      summary: List configured Kubernetes service accounts
      description: 'Returns the per-stack Kubernetes service account → scopes mapping

        currently active on this Connection instance. Reflects the parsed

        `/etc/keboola/k8s-auth.yaml` ConfigMap shipped from kbc-stacks.


        Read-only; the registry is immutable for the process lifetime — config

        changes require a redeploy. Requires a TYPE_SUPER manage token.'
      operationId: get_/manage/kubernetes-service-accounts::KubernetesServiceAccountListAction
      responses:
        '200':
          description: List of configured Kubernetes service accounts and their scopes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KubernetesServiceAccountListResponse'
  /manage/maintainers/{id}/join-maintainer:
    post:
      tags:
      - Maintainers
      summary: Join maintainer
      description: Joins the specified maintainer as an administrator.
      operationId: post_/manage/maintainers/{id}/join-maintainer::JoinMaintainerAction
      parameters:
      - name: id
        in: path
        description: Identifier of the maintainer.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 1
      responses:
        '204':
          description: Successfully joined the maintainer.
        '400':
          description: Returned when the user is already a member of this maintainer.
        '404':
          description: Returned when the maintainer does not exist.
  /manage/maintainers/{id}/users:
    get:
      tags:
      - Maintainers
      summary: List maintainer users
      description: Returns all users of the specified maintainer.
      operationId: get_/manage/maintainers/{id}/users::MaintainerListAdministratorsAction
      parameters:
      - name: id
        in: path
        description: Maintainer ID.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 1
      responses:
        '200':
          description: List of maintainer users.
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    id:
                      type: integer
                      example: 23423
                    name:
                      type: string
                      example: Martin Halamicek
                    email:
                      type: string
                      example: martin@keboola.com
                  type: object
              example:
              - id: 23423
                name: Martin Halamicek
                email: martin@keboola.com
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have access to the maintainer.
        '404':
          description: Returned when the maintainer does not exist.
    post:
      tags:
      - Maintainers
      summary: Add a User to maintainer
      description: Either `id` or `email` of a user must be set. If the email is not
        associated with a user, a new account is created and an invitation is sent.
      operationId: post_/manage/maintainers/{id}/users::MaintainerAddAdministratorAction
      parameters:
      - name: id
        in: path
        description: Maintainer ID.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMaintainerAdministratorRequest'
      responses:
        '200':
          description: Administrator added successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          description: Returned when provided parameters are invalid.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have access to the maintainer.
        '404':
          description: Returned when the maintainer does not exist.
  /manage/maintainers:
    get:
      tags:
      - Maintainers
      summary: List maintainers
      description: Returns all maintainers accessible by the manage token.
      operationId: get_/manage/maintainers::MaintainerListAction
      responses:
        '200':
          description: List of maintainers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MaintainerResponse'
        '401':
          description: Returned when the Manage token is missing or invalid.
    post:
      tags:
      - Maintainers
      summary: Create a maintainer
      description: Creates a new maintainer. The user associated with the token will
        become an admin of the maintainer.
      operationId: post_/manage/maintainers::MaintainerCreateAction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMaintainerRequest'
      responses:
        '200':
          description: Maintainer created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintainerResponse'
        '400':
          description: Returned when provided parameters are invalid.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to create
            maintainers.
  /manage/maintainers/{id}/invitations:
    get:
      tags:
      - Maintainers
      summary: List maintainers invitations
      description: Returns all pending invitations for the specified maintainer.
      operationId: get_/manage/maintainers/{id}/invitations::MaintainerListInvitationsAction
      parameters:
      - name: id
        in: path
        description: Maintainer ID.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 1
      responses:
        '200':
          description: List of invitations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MaintainerInvitationDetailResponse'
              example:
              - id: 112
                created: 2018-07-10T10:45:11+0200
                user:
                  id: 124
                  name: test user 2
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
              - id: 113
                created: 2018-07-10T10:50:00+0200
                user:
                  id: 125
                  name: test user 3
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have access to the maintainer.
        '404':
          description: Returned when the maintainer does not exist.
    post:
      tags:
      - Maintainers
      summary: Invite a user to a maintainer
      description: Only members of the maintainer and superadmins can invite other
        users.
      operationId: post_/manage/maintainers/{id}/invitations::MaintainerCreateInvitationAction
      parameters:
      - name: id
        in: path
        description: Maintainer ID.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMaintainerInvitationRequest'
      responses:
        '201':
          description: Invitation created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintainerInvitationDetailResponse'
        '400':
          description: Returned when the email is missing or the user is already a
            member or already invited.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have access to the maintainer.
        '404':
          description: Returned when the maintainer does not exist.
        '422':
          description: Returned when the provided email address is not a valid email.
  /manage/maintainers/{id}/organizations:
    get:
      tags:
      - Organizations
      summary: List maintainer's organizations
      description: Returns all organizations belonging to the specified maintainer.
      operationId: get_/manage/maintainers/{id}/organizations::MaintainerListOrganizationsAction
      parameters:
      - name: id
        in: path
        description: Identifier of the maintainer.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 1
      responses:
        '200':
          description: List of organizations.
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    id:
                      type: integer
                      example: 123
                    name:
                      type: string
                      example: sample org
                    created:
                      type: string
                      format: date-time
                      example: '2014-11-11T08:40:51.620Z'
                    allowAutoJoin:
                      type: boolean
                      example: true
                    crmId:
                      type: string
                      example: '6232456'
                      nullable: true
                    activityCenterProjectId:
                      type: integer
                      example: 123
                      nullable: true
                    mfaRequired:
                      type: boolean
                      example: false
                  type: object
              example:
              - id: 123
                name: sample org
                created: '2014-11-11T08:40:51.620Z'
                allowAutoJoin: true
                crmId: '6232456'
                activityCenterProjectId: 123
                mfaRequired: false
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have access to the maintainer.
        '404':
          description: Returned when the maintainer does not exist.
    post:
      tags:
      - Organizations
      summary: Create an organization
      description: Creates a new organization within the specified maintainer.
      operationId: post_/manage/maintainers/{id}/organizations::MaintainerCreateOrganizationAction
      parameters:
      - name: id
        in: path
        description: Identifier of the parent maintainer. The created organization
          will be assigned to this maintainer.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMaintainerOrganizationRequest'
            example:
              name: POC
              crmId: '234'
      responses:
        '200':
          description: Organization created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
        '400':
          description: Returned when provided parameters are invalid.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to create
            organizations.
        '404':
          description: Returned when the maintainer does not exist.
  /manage/maintainers/{id}:
    get:
      tags:
      - Maintainers
      summary: Retrieve a maintainer
      description: Returns detail of the specified maintainer.
      operationId: get_/manage/maintainers/{id}::MaintainerDetailAction
      parameters:
      - name: id
        in: path
        description: Maintainer ID.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 1
      responses:
        '200':
          description: Maintainer detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintainerDetailResponse'
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have access to the maintainer.
        '404':
          description: Returned when the maintainer does not exist.
    delete:
      tags:
      - Maintainers
      summary: Delete a maintainer
      description: Deletes the specified maintainer.
      operationId: delete_/manage/maintainers/{id}::MaintainerDeleteAction
      parameters:
      - name: id
        in: path
        description: Maintainer ID.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 1
      responses:
        '204':
          description: Maintainer deleted successfully.
        '400':
          description: Returned when the maintainer still has organizations and cannot
            be deleted.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to delete
            the maintainer.
        '404':
          description: Returned when the maintainer does not exist.
    patch:
      tags:
      - Maintainers
      summary: Update a maintainer
      description: A partial update of a maintainer.
      operationId: patch_/manage/maintainers/{id}::MaintainerUpdateAction
      parameters:
      - name: id
        in: path
        description: Maintainer ID.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMaintainerRequest'
      responses:
        '200':
          description: Maintainer updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintainerResponse'
        '400':
          description: Returned when provided parameters are invalid.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to update
            this maintainer.
        '404':
          description: Returned when the maintainer does not exist.
  /manage/maintainers/{id}/invitations/{invitationId}:
    get:
      tags:
      - Maintainers
      summary: Maintainer invitation detail
      description: Returns detail of the specified maintainer invitation.
      operationId: get_/manage/maintainers/{id}/invitations/{invitationId}::MaintainerGetInvitationAction
      parameters:
      - name: id
        in: path
        description: Maintainer ID.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 1
      - name: invitationId
        in: path
        description: Invitation ID.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 113
      responses:
        '200':
          description: Invitation detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintainerInvitationDetailResponse'
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have access to the maintainer.
        '404':
          description: Returned when the invitation does not exist.
    delete:
      tags:
      - Maintainers
      summary: Cancel maintainer invitation
      description: Cancels a pending invitation to join the specified maintainer.
      operationId: delete_/manage/maintainers/{id}/invitations/{invitationId}::MaintainerDeleteInvitationAction
      parameters:
      - name: id
        in: path
        description: Maintainer ID.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 1
      - name: invitationId
        in: path
        description: Invitation ID.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 113
      responses:
        '204':
          description: Invitation deleted successfully.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have access to the maintainer.
        '404':
          description: Returned when the invitation does not exist.
  /manage/maintainers/{id}/metadata/{metadataId}:
    delete:
      tags:
      - Maintainers
      summary: Remove maintainer metadata
      description: Only maintainer members and super admins can delete metadata.
      operationId: delete_/manage/maintainers/{id}/metadata/{metadataId}::MaintainerDeleteMetadataAction
      parameters:
      - name: id
        in: path
        description: Maintainer ID.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 1
      - name: metadataId
        in: path
        description: Metadata ID.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 123
      responses:
        '204':
          description: Metadata deleted successfully.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to delete
            this metadata.
        '404':
          description: Returned when the metadata entry does not exist.
  /manage/maintainers/{id}/metadata:
    get:
      tags:
      - Maintainers
      summary: List maintainer metadata
      description: Only members of the maintainer and super admins can list metadata.
      operationId: get_/manage/maintainers/{id}/metadata::MaintainerListMetadataAction
      parameters:
      - name: id
        in: path
        description: Maintainer ID.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 1
      responses:
        '200':
          description: List of metadata.
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    id:
                      type: integer
                      example: 123
                    provider:
                      type: string
                      example: user
                    timestamp:
                      type: string
                      example: 2021-02-17T15:05:21+0100
                    key:
                      type: string
                      example: KBC.SomeEnity.metadataKey
                    value:
                      type: string
                      example: Some value
                  type: object
              example:
              - id: 123
                provider: user
                timestamp: 2021-02-17T15:05:21+0100
                key: KBC.SomeEnity.metadataKey
                value: Some value
              - id: 124
                provider: user
                timestamp: 2021-02-17T15:05:21+0100
                key: someMetadataKey
                value: Some value
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to list metadata.
        '404':
          description: Returned when the maintainer does not exist.
    post:
      tags:
      - Maintainers
      summary: Set maintainer metadata
      description: 'Sets multiple metadata with one call. If the given key and provider
        combination already exist

        for the maintainer, the data will be updated with the new value and timestamp.

        Only maintainer members and super admins can change metadata.'
      operationId: post_/manage/maintainers/{id}/metadata::MaintainerSetMetadataAction
      parameters:
      - name: id
        in: path
        description: Maintainer ID.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetMaintainerMetadataRequest'
      responses:
        '201':
          description: Metadata set successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    id:
                      type: integer
                      example: 123
                    provider:
                      type: string
                      example: user
                    timestamp:
                      type: string
                      example: 2021-02-17T15:05:21+0100
                    key:
                      type: string
                      example: KBC.SomeEnity.metadataKey
                    value:
                      type: string
                      example: Some value
                  type: object
              example:
              - id: 123
                provider: user
                timestamp: 2021-02-17T15:05:21+0100
                key: KBC.SomeEnity.metadataKey
                value: Some value
              - id: 124
                provider: user
                timestamp: 2021-02-17T15:05:21+0100
                key: someMetadataKey
                value: Some value
        '400':
          description: Returned when the provided metadata is invalid.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to set metadata.
        '404':
          description: Returned when the maintainer does not exist.
  /manage/maintainers/{id}/users/{adminId}:
    delete:
      tags:
      - Maintainers
      summary: Remove a user from maintainer
      description: Removes a user from the specified maintainer.
      operationId: delete_/manage/maintainers/{id}/users/{adminId}::MaintainerRemoveAdministratorAction
      parameters:
      - name: id
        in: path
        description: Maintainer ID.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 1
      - name: adminId
        in: path
        description: User ID.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 1
      responses:
        '204':
          description: Administrator removed successfully.
        '400':
          description: Returned when the administrator cannot be removed (e.g., last
            member).
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have access to the maintainer.
        '404':
          description: Returned when the maintainer or administrator does not exist.
  /manage/organizations/{id}/users:
    get:
      tags:
      - Organizations
      summary: List organization users
      description: Returns all administrators of the organization specified by its
        ID.
      operationId: get_/manage/organizations/{id}/users::OrganizationListAdministratorsAction
      parameters:
      - name: id
        in: path
        description: Identifier of the organization.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 1
      responses:
        '200':
          description: List of organization users.
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    id:
                      type: integer
                      example: 23423
                    name:
                      type: string
                      example: Martin Halamicek
                    email:
                      type: string
                      example: martin@keboola.com
                  type: object
              example:
              - id: 23423
                name: Martin Halamicek
                email: martin@keboola.com
        '400':
          description: Returned when MFA is required.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have access to the organization.
        '404':
          description: Returned when the organization does not exist.
    post:
      tags:
      - Organizations
      summary: Add a User to organization
      description: Either `id` or `email` of a user must be set. If the email is not
        associated with a user, a new account is created and an invitation is sent.
      operationId: post_/manage/organizations/{id}/users::OrganizationAddAdministratorAction
      parameters:
      - name: id
        in: path
        description: Identifier of the organization.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                id:
                  description: User ID.
                  type: integer
                  example: 7234
                  nullable: true
                email:
                  description: User email.
                  type: string
                  format: email
                  example: martin@keboola.com
                  nullable: true
              type: object
            example:
              email: martin@keboola.com
      responses:
        '200':
          description: User added to organization successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          description: Returned when the provided parameters are invalid or the user
            is already a member.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to add administrators,
            or when MFA is required.
        '404':
          description: Returned when the organization does not exist.
  /manage/organizations/{id}/invitations/{invitationId}:
    get:
      tags:
      - Organizations
      summary: Organization invitation detail
      description: Returns detail of the invitation specified by its ID for the given
        organization.
      operationId: get_/manage/organizations/{id}/invitations/{invitationId}::OrganizationGetInvitationAction
      parameters:
      - name: id
        in: path
        description: Identifier of the organization.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 123
      - name: invitationId
        in: path
        description: Identifier of the invitation.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 113
      responses:
        '200':
          description: Invitation detail response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInvitationDetailResponse'
              example:
                id: 113
                created: 2018-07-10T10:50:00+0200
                user:
                  id: 125
                  name: test user 3
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
        '400':
          description: Returned when the organization requires MFA and the current
            user does not have MFA enabled.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have access to the organization.
        '404':
          description: Returned when the organization or invitation does not exist.
    delete:
      tags:
      - Organizations
      summary: Cancel organization invitation
      description: Cancels the invitation specified by its ID for the given organization.
      operationId: delete_/manage/organizations/{id}/invitations/{invitationId}::OrganizationCancelInvitationAction
      parameters:
      - name: id
        in: path
        description: Identifier of the organization.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 123
      - name: invitationId
        in: path
        description: Identifier of the invitation.
        required: true
        schema:
          type: integer
          pattern: '[1-9][0-9]*'
        example: 113
      responses:
        '204':
          description: Invitation cancelled successfully.
        '400':
          description: Returned when the organization requires MFA and the current
            user does not have MFA enabled.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have access to the organization.
        '404':
          description: Returned when the organization or invitation does not exist.
  /manage/organizations/{id}/invitations:
    get:
      tags:
      - Organizations
      summary: List organization invitations
      description: Returns all invitations for the organization specified by its ID.
      operationId: get_/manage/organizations/{id}/invitations::OrganizationListInvitationsAction
      parameters:
      - name: id
        in: path
        description: Identifier of the organization.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 123
      responses:
        '200':
          description: List of organization invitations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationInvitationDetailResponse'
              example:
              - id: 112
                created: 2018-07-10T10:45:11+0200
                user:
                  id: 124
                  name: test user 2
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
              - id: 113
                created: 2018-07-10T10:50:00+0200
                user:
                  id: 125
                  name: test user 3
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
        '400':
          description: Returned when the organization requires MFA and the current
            user does not have MFA enabled.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have access to the organization.
        '404':
          description: Returned when the organization does not exist.
    post:
      tags:
      - Organizations
      summary: Invite a user to a organization
      description: Only members of the organization can invite other users.
      operationId: post_/manage/organizations/{id}/invitations::OrganizationCreateInvitationAction
      parameters:
      - name: id
        in: path
        description: Identifier of the organization.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - email
              properties:
                email:
                  description: Email of an invited user.
                  type: string
                  format: email
                  example: martin@keboola.com
              type: object
            example:
              email: martin@keboola.com
      responses:
        '201':
          description: Invitation created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInvitationDetailResponse'
              example:
                id: 113
                created: 2018-07-10T10:50:00+0200
                user:
                  id: 125
                  name: test user 3
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
        '400':
          description: Returned when the provided parameters are invalid.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have access to the organization.
        '404':
          description: Returned when the organization does not exist.
        '422':
          description: Returned when the provided email address is invalid.
  /manage/organizations/{id}/projects:
    get:
      tags:
      - Projects
      summary: List projects for an organization
      description: Returns all projects belonging to the organization specified by
        its ID.
      operationId: get_/manage/organizations/{id}/projects::OrganizationListProjectsAction
      parameters:
      - name: id
        in: path
        description: Identifier of the organization.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 5
      responses:
        '200':
          description: List of organization projects.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
              example:
              - id: 101
                name: test project
                type: production
                region: eu-west-1
                created: '2017-02-15T14:25:15+01:00'
                expires: null
                features:
                - featureName
                dataSizeBytes: 49152
                rowsCount: 200
                hasMysql: false
                hasSynapse: false
                hasExasol: false
                hasTeradata: false
                hasSnowflake: true
                defaultBackend: snowflake
                hasTryModeOn: '0'
                limits:
                  limitName:
                    name: limitName
                    value: 10
                metrics: {}
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 1
                fileStorageProvider: aws
                isBYODB: false
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have access to the organization,
            or when MFA is required.
        '404':
          description: Returned when the organization does not exist.
    post:
      tags:
      - Projects
      summary: Add a project
      description: 'A project will be created from a default template which defines
        its limits. Only members

        of the organization can create a project.'
      operationId: post_/manage/organizations/{id}/projects::OrganizationCreateProjectAction
      parameters:
      - name: id
        in: path
        description: Identifier of the organization; projects have to be created in
          an organization.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
        example: 5
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - name
              properties:
                name:
                  description: Project name.
                  type: string
                  example: My Demo
                type:
                  description: Project type or template string identifier. One of
                    `production`, `poc`, `demo` (default `production`).
                  type: string
                  example: demo
                  enum:
                  - production
                  - poc
                  - demo
                defaultBackend:
                  description: Project default backend (default `snowflake`).
                  type: string
                  example: snowflake
                dataRetentionTimeInDays:
                  description: Data retention in days for Time Travel.
                  type: integer
                  example: 7
              type: object
            example:
              name: My Demo
              type: demo
              defaultBackend: snowflake
              dataRetentionTimeInDays: 7
      responses:
        '200':
          description: Project created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationCreateProjectResponse'
        '400':
          description: Returned when the provided parameters are invalid.
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the token does not have permission to create
            a project in the organization.
        '404':
          description: Returned when the organization does not exist.
  /manage/organizations/{id}:
    get:
      tags:
      - Organizations
      summary: Retrieve an organization
      description: 'To access token needs to be superuser, member of the organization,
        member of the maintainer or application token with

        scope `organizations:read`.'
[...]
