openapi: 3.2.0
info:
  contact:
    email: support@keboola.com
    name: Keboola Support
    url: https://help.keboola.com/management/support/
  description: A service for managing and executing SQL query jobs with support for transactional operations and job status tracking.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Query Service Queries API
  version: 1.0.0
servers:
- url: https://query.north-europe.azure.keboola.com/
tags:
- name: queries
paths:
  /api/v1/branches/{branchId}/workspaces/{workspaceId}/queries:
    get:
      summary: Get query history
      operationId: ''
      tags:
      - queries
      description: Retrieve the history of query statements for the specified branch and workspace
      parameters:
      - name: branchId
        in: path
        required: true
        description: Branch ID
        schema:
          type: string
      - name: workspaceId
        in: path
        required: true
        description: Workspace ID
        schema:
          type: string
      - name: afterId
        in: query
        required: false
        description: Get results after this statement ID for pagination
        schema:
          type: string
      - name: pageSize
        in: query
        required: false
        description: 'Number of results per page (default: 500)'
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/definitions/handlers.QueryHistoryResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/definitions/httperrors.ErrorResponse'
        '401':
          description: Unauthorized - project scope not found
          content:
            application/json:
              schema:
                $ref: '#/definitions/httperrors.ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/definitions/httperrors.ErrorResponse'
components:
  securitySchemes:
    StorageApiToken:
      type: apiKey
      name: X-StorageAPI-Token
      in: header
