openapi: 3.2.0
info:
  description: API calculates and displays consumed and remaining credits of KBC PAYG users
  version: 1.0.0
  title: Keboola Billing Credits API
  contact:
    email: support@keboola.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- description: Azure North Europe
  url: https://queue.north-europe.azure.keboola.com
- description: SwaggerHub API Auto Mocking
  url: https://virtserver.swaggerhub.com/keboola/billing-api/1.0.0
tags:
- name: Credits
paths:
  /credits:
    get:
      summary: Show consumed and remaining credits.
      security:
      - StorageApiToken: []
      parameters:
      - in: header
        name: X-StorageApi-Token
        required: true
        schema:
          type: string
        example: 1234-567890abcdefghjkl
      description: 'Show consumed and remaining credits of the project, identified by the Storage API token.

        '
      responses:
        '200':
          description: credits balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credits'
      tags:
      - Credits
    post:
      summary: Show consumed and remaining credits with optional top-up.
      security:
      - StorageApiToken: []
      parameters:
      - in: header
        name: X-StorageApi-Token
        required: true
        schema:
          type: string
        example: 1234-567890abcdefghjkl
      description: "Show consumed and remaining credits of the project, identified by the Storage API token. If the credit balance\n  is zero or negative, then an automatic top-up is attempted. If it succeeds, the new credit balance is returned.\n"
      responses:
        '200':
          description: credits balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credits'
      tags:
      - Credits
components:
  schemas:
    Credits:
      type: object
      required:
      - consumed
      - remaining
      properties:
        consumed:
          type: number
          example: 123
        remaining:
          type: number
          example: 456
        stats:
          type: object
          properties:
            componentJobs:
              type: object
              properties:
                consumed:
                  type: number
                  example: 4567.89
            workspaceJobs:
              type: object
              properties:
                workspaceType:
                  type: string
                  enum:
                  - writer
                  - sandbox-sql
                  - transformation
                  - sandbox-data-science
                  example: writer
                warehouseSize:
                  type: string
                  enum:
                  - x-small
                  - small
                  - medium
                  - large
                  - x-large
                  - 2x-large
                  - 3x-large
                  - 4x-large
                  example: x-large
                consumed:
                  type: number
                  example: 1234.56
            marketplaceSubscription:
              type: object
              required:
              - vendor
              - state
              - billingLink
              properties:
                vendor:
                  type: string
                  enum:
                  - aws
                  - azure
                state:
                  type: string
                  enum:
                  - inactive
                  - active
                  - suspended
                  - unsubscribed
                billingLink:
                  type: string
                  format: url
              example:
                vendor: azure
                state: active
                billingLink: https://portal.azure.com/#view/HubsExtension/BrowseResourceBlade/resourceType/Microsoft.SaaS%2Fresources
  securitySchemes:
    StorageApiToken:
      type: apiKey
      in: header
      name: X-StorageApi-Token
    BillingManageToken:
      type: apiKey
      in: header
      name: X-KBC-ManageApiToken
      description: Application token with scope "billing:manage"
    MarketplacesSubscriptionManageToken:
      type: apiKey
      in: header
      name: X-KBC-ManageApiToken
      description: Application token with scope "marketplace-subscriptions:manage"
