openapi: 3.2.0
info:
  description: API for running component jobs
  version: 1.3.8
  title: Job Queue Configurations Jobs API
  contact:
    email: devel@keboola.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- description: AWS US East
  url: https://queue.keboola.com
- description: AWS EU Central
  url: https://queue.eu-central-1.keboola.com
- description: Azure North Europe
  url: https://queue.north-europe.azure.keboola.com
- description: Azure Testing
  url: https://queue.east-us-2.azure.keboola-testing.com
- description: SwaggerHub API Auto Mocking
  url: https://virtserver.swaggerhub.com/keboola/job-queue-api/1.3.0
security:
- ApiKeyAuth: []
tags:
- name: Configurations Jobs
paths:
  /configurations-jobs:
    get:
      summary: List most recent jobs of configurations
      deprecated: true
      operationId: listConfigurationsJobs
      description: 'List most recent jobs of configurations.


        This endpoint is DEPRECATED. Use `/search/grouped-jobs` instead.

        '
      tags:
      - Configurations Jobs
      parameters:
      - in: query
        name: componentId
        description: Search jobs of *componentId*.
        required: false
        schema:
          type: string
        example: keboola.orchestrator
      - in: query
        name: configId[]
        description: Configuration ID
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
        example: my.config
      - in: query
        name: type
        description: Filter jobs by job *type*.
        required: false
        schema:
          type: string
          enum:
          - standard
          - container
          - phaseContainer
          - orchestrationContainer
          - retryContainer
        example: standard
      - in: query
        name: jobsPerConfiguration
        description: Number of jobs of each configuration to list
        schema:
          type: integer
      - in: query
        name: sortBy
        description: Attribute to sort results by
        required: false
        schema:
          type: string
          enum:
          - id
          - configId
          - configRowId
          - projectId
          - componentId
          - status
          - desiredStatus
          - mode
          - startTime
          - createdTime
          - endTime
        example: startTime
      - in: query
        name: sortOrder
        description: Order of the sorting, must be used with the "sortBy" parameter
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        example: asc
      - in: query
        name: offset
        description: Paging offset
        required: false
        schema:
          type: integer
        example: 123
      - in: query
        name: limit
        description: Results per page
        required: false
        schema:
          type: integer
          default: 100
        example: 1000
      - in: query
        name: branchId
        description: 'Search jobs by *branchId*.


          Set **branchId=null** to get just jobs belonging to the **main** branch.

          '
        required: false
        schema:
          type: string
        examples:
          mainBranch:
            summary: Jobs ran on the main branch
            value: 'null'
          oneId:
            summary: Jobs ran on a branch
            value: '123'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Job'
        '400':
          description: Bad request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    JobType:
      type: string
      enum:
      - standard
      - container
      - phaseContainer
      - orchestrationContainer
      - retryContainer
    Error:
      type: object
      required:
      - error
      - code
      - status
      properties:
        error:
          type: string
          example: The value foobar is invalid
        code:
          type: integer
          example: 400
        status:
          type: string
          enum:
          - error
        exceptionId:
          type: string
          example: job-runner-1234567890
    JobStatus:
      type: string
      enum:
      - created
      - waiting
      - processing
      - success
      - warning
      - error
      - terminating
      - terminated
      - cancelled
    Job:
      type: object
      required:
      - id
      - runId
      - project
      - token
      - status
      - mode
      - component
      - createdTime
      - isFinished
      - url
      properties:
        id:
          type: string
          example: '123456789'
        runId:
          type: string
          example: '123456790.123456789'
          description: 'Run ID is same as Job ID, unless the job is a child job. A child

            job is created by providing the parent Run ID in the X-KBC-RunId

            parameter. The runId of a child job contains the parent runId and

            the child job ID separated by dot. The nesting depth is not limited.

            A parent-child job relationship means that e.g. when a parent job is terminated

            it''s child jobs are terminated too. The parent-child job relationship

            does not mean that the parent will wait for it''s children to finish.

            '
        branchId:
          type: string
          example: '123456789'
          description: 'Jobs from the main branch will have branchId = null

            '
        project:
          type: object
          required:
          - id
          properties:
            id:
              type: string
              example: 123
        token:
          type: object
          properties:
            id:
              type: string
              example: 12345
            description:
              type: string
              example: user@example.com
        status:
          $ref: '#/components/schemas/JobStatus'
        desiredStatus:
          type:
          - string
          - 'null'
          enum:
          - processing
          - terminating
        component:
          type: string
          example: keboola.ex-db-snowflake
        mode:
          type: string
          enum:
          - run
          - debug
        tag:
          type:
          - string
          - 'null'
          example: 1.2.3
        config:
          type:
          - string
          - 'null'
          example: '123456789'
        configRow:
          type:
          - string
          - 'null'
          example: '123456789'
        configData:
          type:
          - object
          - 'null'
          example:
            parameters:
              foo: bar
              baz: mek
        result:
          type:
          - object
          - 'null'
          properties:
            images:
              type: array
              items:
                type: object
                properties:
                  digests:
                    type: array
                    items:
                      type: string
                  id:
                    type: string
            configVersion:
              type: integer
            message:
              type: string
        createdTime:
          type: string
          format: date-time
          example: '2019-06-21T09:12:33.001Z'
        startTime:
          type:
          - string
          - 'null'
          format: date-time
          example: '2019-06-21T09:12:33.001Z'
        endTime:
          type:
          - string
          - 'null'
          format: date-time
          example: '2019-06-21T09:12:33.001Z'
        delayedStartTime:
          type:
          - string
          - 'null'
          format: date-time
          example: '2019-06-21T09:12:33.001Z'
          description: Delayed start time - the earliest time when the job can be started
        durationSeconds:
          type:
          - integer
          - 'null'
          example: 165
        isFinished:
          type: boolean
          example: false
        url:
          type: string
          example: https://queue.east-us-2.azure.keboola-testing.com/jobs/123456789
        variableValuesId:
          type:
          - string
          - 'null'
          example: '1234'
        variableValuesData:
          type:
          - object
          - 'null'
          properties:
            values:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  value:
                    type: string
          example:
            items:
            - name: testVariable
              value: testValue
        backend:
          type:
          - object
          - 'null'
          properties:
            type:
              type: string
            containerType:
              type: string
            context:
              type: string
          example:
            type: small
            context: 123_extractor
        metrics:
          type:
          - object
          - 'null'
          properties:
            storage:
              type: object
              properties:
                inputTablesBytesSum:
                  type: integer
                outputTablesBytesSum:
                  type: integer
            backend:
              type: object
              properties:
                type:
                  type: string
                containerType:
                  type: string
                context:
                  type: string
              example:
                type: small
                context: 123_extractor
        type:
          $ref: '#/components/schemas/JobType'
        orchestrationTaskId:
          type:
          - string
          - 'null'
          minLength: 1
        previousJobId:
          type:
          - string
          - 'null'
          minLength: 1
        onlyOrchestrationTaskIds:
          type:
          - array
          - 'null'
          minItems: 1
          uniqueItems: true
          items:
            type: string
            minLength: 1
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-StorageApi-Token
