openapi: 3.2.0
info:
  description: API for running component jobs
  version: 1.3.8
  title: Job Queue Orchestration Rerun Plan API
  contact:
    email: devel@keboola.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- description: AWS US East
  url: https://queue.keboola.com
- description: AWS EU Central
  url: https://queue.eu-central-1.keboola.com
- description: Azure North Europe
  url: https://queue.north-europe.azure.keboola.com
- description: Azure Testing
  url: https://queue.east-us-2.azure.keboola-testing.com
- description: SwaggerHub API Auto Mocking
  url: https://virtserver.swaggerhub.com/keboola/job-queue-api/1.3.0
security:
- ApiKeyAuth: []
tags:
- name: Orchestration Rerun Plan
paths:
  /orchestration-rerun-plan/{jobId}:
    get:
      summary: Get orchestration rerun plan
      operationId: getOrchestrationRerunPlan
      description: 'Returns list of orchestration tasks possible to re-run.

        '
      parameters:
      - in: path
        name: jobId
        description: Job ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                  configId:
                    type:
                    - string
                    - 'null'
                  matchedTasks:
                    type: array
                    items:
                      type: object
                      properties:
                        taskId:
                          type: string
                        matched:
                          type: boolean
                        jobId:
                          type:
                          - string
                          - 'null'
                        componentId:
                          type:
                          - string
                          - 'null'
                        configId:
                          type:
                          - string
                          - 'null'
                        status:
                          allOf:
                          - $ref: '#/components/schemas/JobStatus'
                          - {}
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Orchestration Rerun Plan
components:
  schemas:
    JobStatus:
      type: string
      enum:
      - created
      - waiting
      - processing
      - success
      - warning
      - error
      - terminating
      - terminated
      - cancelled
    Error:
      type: object
      required:
      - error
      - code
      - status
      properties:
        error:
          type: string
          example: The value foobar is invalid
        code:
          type: integer
          example: 400
        status:
          type: string
          enum:
          - error
        exceptionId:
          type: string
          example: job-runner-1234567890
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-StorageApi-Token
