openapi: 3.2.0
info:
  title: Keboola Developer Portal Admin Users API
  description: 'API for the Keboola Developer Portal — vendor, app (component) and user management for Keboola Connection. Most calls authenticate with a JWT token returned by `POST /auth/login`, passed verbatim in the `Authorization` header (valid for 1 hour; refresh with `GET /auth/token`).

    '
  version: 1.0.0
servers:
- url: https://apps-api.keboola.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Admin Users
paths:
  /admin/users:
    get:
      tags:
      - Admin Users
      summary: List users
      description: List all user accounts. Requires an admin token.
      parameters:
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 1000
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /admin/users/{username}:
    delete:
      tags:
      - Admin Users
      summary: Delete user
      description: Delete a user account. Requires an admin token.
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: User deleted
  /admin/users/{username}/mfa:
    delete:
      tags:
      - Admin Users
      summary: Disable user MFA
      description: Disable MFA for a user account. Requires an admin token.
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: MFA disabled
  /admin/users/{username}/vendors/{vendor}:
    post:
      tags:
      - Admin Users
      summary: Add user to a vendor
      description: Add a user to a vendor. Sends email confirmation to the user. Requires an admin token.
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      - name: vendor
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: User added to vendor
    delete:
      tags:
      - Admin Users
      summary: Remove user from a vendor
      description: Remove a user from a vendor. Sends email confirmation to the user. Requires an admin token.
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      - name: vendor
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: User removed from vendor
  /admin/users/{username}/admin:
    post:
      tags:
      - Admin Users
      summary: Make user admin
      description: Grant admin privileges to a user. Requires an admin token.
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Admin privilege granted
    delete:
      tags:
      - Admin Users
      summary: Remove admin privilege
      description: Revoke admin privileges from a user. Requires an admin token.
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Admin privilege revoked
components:
  schemas:
    User:
      type: object
      additionalProperties: true
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        vendors:
          type: array
          items:
            type: string
        isAdmin:
          type: boolean
  securitySchemes:
    bearerAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'JWT token from `POST /auth/login`, passed verbatim (no "Bearer " prefix). Admin endpoints require a token belonging to an administrator.

        '
