openapi: 3.2.0
info:
  title: Keboola Connection Management SUPER - Kubernetes API
  description: 'The Keboola Connection Management API covers all tasks required for managing

    projects, plus super-admin features for controlling and monitoring Keboola Connection.


    ## Projects management

    * Create, modify and delete maintainers, organizations and projects

    * Move projects between organizations

    * Define project limits

    * Provision storage backends

    * Access project management activity log


    ## Projects monitoring

    * Monitoring of projects across organizations and maintainers


    ## Super user control and monitoring

    * UI release and deployment

    * Components management

    * Final project delete

    * Workers start/shutdown, etc.


    ## Authentication

    The API authenticates with a personal access token sent in the `X-KBC-ManageApiToken`

    header. Tokens can be created in

    [Account Settings](https://connection.keboola.com/admin/account/change-password)

    in Keboola Connection. A token is tied to an administrator and inherits that

    administrator''s permissions; when the administrator is disabled or deleted, all

    their tokens become invalid.


    ```

    curl -H "X-KBC-ManageApiToken: USER_TOKEN" https://connection.keboola.com/manage/tokens/verify

    ```


    ## Token types

    | Type  | Tied to a user | Token string visible only on create | Description |

    | ----- | -------------- | ----------------------------------- | ----------- |

    | user  | Yes            | Yes                                 | Full access to maintainers, organizations and projects the user can see. |

    | super | No             | Yes                                 | KBC management. Scopes such as `super_ui_deploy`, `super_monitoring` etc. can be limited per-token. |


    Legacy Apiary reference: see the

    [Manage API blueprint](https://github.com/keboola/connection/blob/master/Package/ManageApiPhpClient/apiary.apib)

    for the historical document this OpenAPI spec is migrating from.

    '
  version: '1.0'
servers:
- url: https://connection.keboola.com
  description: AWS US East
- url: https://connection.eu-central-1.keboola.com
  description: AWS EU Central
- url: https://connection.north-europe.azure.keboola.com
  description: Azure North Europe
- url: https://connection.east-us-2.azure.keboola-testing.com
  description: Azure Testing
security:
- StorageKey: []
- ManageKey: []
- BearerAuth: []
tags:
- name: SUPER - Kubernetes
  description: Read-only access to Kubernetes service accounts discovered in the stack.
paths:
  /manage/kubernetes-service-accounts:
    get:
      tags:
      - SUPER - Kubernetes
      summary: List configured Kubernetes service accounts
      description: 'Returns the per-stack Kubernetes service account → scopes mapping

        currently active on this Connection instance. Reflects the parsed

        `/etc/keboola/k8s-auth.yaml` ConfigMap shipped from kbc-stacks.


        Read-only; the registry is immutable for the process lifetime — config

        changes require a redeploy. Requires a TYPE_SUPER manage token.'
      operationId: get_/manage/kubernetes-service-accounts::KubernetesServiceAccountListAction
      responses:
        '200':
          description: List of configured Kubernetes service accounts and their scopes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KubernetesServiceAccountListResponse'
components:
  schemas:
    KubernetesServiceAccountListResponse:
      type: array
      items:
        $ref: '#/components/schemas/KubernetesServiceAccountResponse'
    KubernetesServiceAccountResponse:
      required:
      - subject
      - description
      - scopes
      properties:
        subject:
          description: Full Kubernetes service account subject — `system:serviceaccount:<namespace>:<name>`.
          type: string
          example: system:serviceaccount:keboola-internal:workspaces-sandboxes-service
        description:
          description: Operator-facing description of what the service account is used for.
          type: string
          example: Workspace provisioning service
        scopes:
          description: Manage-token scopes granted to JWTs issued for this service account.
          type: array
          items:
            type: string
          example:
          - projects:read
          - organizations:read
      type: object
  securitySchemes:
    StorageKey:
      type: apiKey
      name: X-StorageApi-Token
      in: header
    ManageKey:
      type: apiKey
      name: X-KBC-ManageApiToken
      in: header
    BearerAuth:
      type: http
      bearerFormat: Access Token (kbc_at_...)
      scheme: bearer
