openapi: 3.0.0
info:
  title: Keboola Connection
  description: Storage, Manage, and Auth API of Keboola Connection
  version: 0.0.0
servers:
- url: https://connection.keboola.com
  description: AWS US East
- url: https://connection.eu-central-1.keboola.com
  description: AWS EU Central
- url: https://connection.north-europe.azure.keboola.com
  description: Azure North Europe
- url: https://connection.east-us-2.azure.keboola-testing.com
  description: Azure Testing
paths:
  /v2/storage/branch/{branchId}/tokens/verify:
    get:
      tags:
      - Tokens
      summary: Verify a storage token
      description: Returns detailed information about the storage token, including
        permissions and owner data.
      operationId: get_/v2/storage/branch/{branchId}/tokens/verify::TokenVerifyAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Token verification response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenVerifyResponse'
        '404':
          description: Returned when the storage token is not found or invalid.
  /v2/storage/tokens/verify:
    get:
      tags:
      - Tokens
      summary: Verify a storage token
      description: Returns detailed information about the storage token, including
        permissions and owner data.
      operationId: get_/v2/storage/tokens/verify::TokenVerifyAction
      responses:
        '200':
          description: Token verification response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenVerifyResponse'
        '404':
          description: Returned when the storage token is not found or invalid.
  /v2/storage/branch/{branchId}/buckets/register-guide:
    get:
      tags:
      - Buckets
      summary: Get bucket registration guide
      description: Returns markdown instructions for registering an external bucket.
      operationId: get_/v2/storage/branch/{branchId}/buckets/register-guide::BucketRegisterGuideAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: path[]
        in: query
        description: Path to the bucket.
        required: true
        schema:
          description: Path to the bucket.
          type: array
          items:
            type: string
            minLength: 1
      - name: backend
        in: query
        description: Desired backend of the bucket.
        required: true
        schema:
          description: Desired backend of the bucket.
          type: string
          enum:
          - snowflake
          - bigquery
      - name: isSnowflakeSharedDatabase
        in: query
        description: Flag indicating the bucket uses a shared Snowflake database.
        required: false
        schema:
          description: Flag indicating the bucket uses a shared Snowflake database.
          type: boolean
          nullable: true
      responses:
        '200':
          description: Markdown guide for registering the bucket.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketRegisterGuideResponse'
        '400':
          description: Returned when the request is invalid or backend is not supported.
        '403':
          description: Returned when permissions are insufficient.
        '501':
          description: Returned when the endpoint is called in a non-default branch.
  /v2/storage/buckets/register-guide:
    get:
      tags:
      - Buckets
      summary: Get bucket registration guide
      description: Returns markdown instructions for registering an external bucket.
      operationId: get_/v2/storage/buckets/register-guide::BucketRegisterGuideAction
      parameters:
      - name: path[]
        in: query
        description: Path to the bucket.
        required: true
        schema:
          description: Path to the bucket.
          type: array
          items:
            type: string
            minLength: 1
      - name: backend
        in: query
        description: Desired backend of the bucket.
        required: true
        schema:
          description: Desired backend of the bucket.
          type: string
          enum:
          - snowflake
          - bigquery
      - name: isSnowflakeSharedDatabase
        in: query
        description: Flag indicating the bucket uses a shared Snowflake database.
        required: false
        schema:
          description: Flag indicating the bucket uses a shared Snowflake database.
          type: boolean
          nullable: true
      responses:
        '200':
          description: Markdown guide for registering the bucket.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketRegisterGuideResponse'
        '400':
          description: Returned when the request is invalid or backend is not supported.
        '403':
          description: Returned when permissions are insufficient.
        '501':
          description: Returned when the endpoint is called in a non-default branch.
  /v2/storage/branch/{branchId}/buckets:
    get:
      tags:
      - Buckets
      summary: List buckets
      description: List all buckets in the project.
      operationId: get_/v2/storage/branch/{branchId}/buckets::BucketsListAction
      parameters:
      - name: include
        in: query
        description: 'Comma-separated list of data to include. Allowed values: attributes,
          metadata, linkedBuckets.'
        required: false
        schema:
          type: string
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of buckets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BucketCreateResponse'
    post:
      tags:
      - Storage Buckets
      summary: Create or link a bucket
      description: Creates a new bucket or links an existing bucket from another project
        based on request parameters.
      operationId: post_/v2/storage/branch/{branchId}/buckets::BucketCreateAction
      parameters:
      - name: async
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: X-KBC-Backend
        in: header
        schema:
          schema: BackendConfigurationRequest
          properties:
            context:
              type: string
              nullable: true
              minLength: 1
          type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CreateBucketRequest'
              - $ref: '#/components/schemas/LinkBucketRequest'
      responses:
        '201':
          description: Bucket created successfully or linked synchronously
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketCreateResponse'
        '202':
          description: Bucket linking job accepted for asynchronous processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        '400':
          description: Invalid request parameters or bucket already linked
        '403':
          description: Access denied - insufficient permissions
        '404':
          description: Source bucket not found (for linking)
        '501':
          description: Operation not supported for SPC projects
  /v2/storage/buckets:
    get:
      tags:
      - Buckets
      summary: List buckets
      description: List all buckets in the project.
      operationId: get_/v2/storage/buckets::BucketsListAction
      parameters:
      - name: include
        in: query
        description: 'Comma-separated list of data to include. Allowed values: attributes,
          metadata, linkedBuckets.'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: List of buckets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BucketCreateResponse'
    post:
      tags:
      - Storage Buckets
      summary: Create or link a bucket
      description: Creates a new bucket or links an existing bucket from another project
        based on request parameters.
      operationId: post_/v2/storage/buckets::BucketCreateAction
      parameters:
      - name: async
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: X-KBC-Backend
        in: header
        schema:
          schema: BackendConfigurationRequest
          properties:
            context:
              type: string
              nullable: true
              minLength: 1
          type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CreateBucketRequest'
              - $ref: '#/components/schemas/LinkBucketRequest'
      responses:
        '201':
          description: Bucket created successfully or linked synchronously
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketCreateResponse'
        '202':
          description: Bucket linking job accepted for asynchronous processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        '400':
          description: Invalid request parameters or bucket already linked
        '403':
          description: Access denied - insufficient permissions
        '404':
          description: Source bucket not found (for linking)
        '501':
          description: Operation not supported for SPC projects
  /v2/storage/branch/{branchId}/buckets/{bucketId}/metadata:
    get:
      operationId: get_/v2/storage/branch/{branchId}/buckets/{bucketId}/metadata::BucketMetadataAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: bucketId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        default:
          description: ''
    post:
      tags:
      - Buckets
      summary: Create or update bucket metadata
      description: Creates new metadata records or updates existing ones for the specified
        bucket.
      operationId: post_/v2/storage/branch/{branchId}/buckets/{bucketId}/metadata::BucketCreateOrUpdateMetadataAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: bucketId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CreateMetadataWithProviderRequest'
      responses:
        '201':
          description: Metadata successfully created or updated.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MetadataItemResponse'
        '404':
          description: Returned when the bucket is not found in the project.
  /v2/storage/buckets/{bucketId}/metadata:
    get:
      operationId: get_/v2/storage/buckets/{bucketId}/metadata::BucketMetadataAction
      parameters:
      - name: bucketId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        default:
          description: ''
    post:
      tags:
      - Buckets
      summary: Create or update bucket metadata
      description: Creates new metadata records or updates existing ones for the specified
        bucket.
      operationId: post_/v2/storage/buckets/{bucketId}/metadata::BucketCreateOrUpdateMetadataAction
      parameters:
      - name: bucketId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CreateMetadataWithProviderRequest'
      responses:
        '201':
          description: Metadata successfully created or updated.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MetadataItemResponse'
        '404':
          description: Returned when the bucket is not found in the project.
  /v2/storage/branch/{branchId}/buckets/{bucketId}/metadata/{metadataId}:
    delete:
      tags:
      - Buckets
      summary: Delete bucket metadata
      description: Deletes a metadata record for the specified storage bucket.
      operationId: delete_/v2/storage/branch/{branchId}/buckets/{bucketId}/metadata/{metadataId}::BucketDeleteMetadataAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: metadataId
        in: path
        description: Identifier of the metadata record.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Metadata record deleted.
        '404':
          description: Returned when the bucket or metadata record is not found.
        '403':
          description: Returned when permissions are insufficient.
  /v2/storage/buckets/{bucketId}/metadata/{metadataId}:
    delete:
      tags:
      - Buckets
      summary: Delete bucket metadata
      description: Deletes a metadata record for the specified storage bucket.
      operationId: delete_/v2/storage/buckets/{bucketId}/metadata/{metadataId}::BucketDeleteMetadataAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: metadataId
        in: path
        description: Identifier of the metadata record.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
      responses:
        '204':
          description: Metadata record deleted.
        '404':
          description: Returned when the bucket or metadata record is not found.
        '403':
          description: Returned when permissions are insufficient.
  /v2/storage/branch/{branchId}/buckets/{bucketId}:
    get:
      tags:
      - Buckets
      summary: Get bucket detail
      description: Retrieve detailed information about a bucket including tables and
        metadata.
      operationId: get_/v2/storage/branch/{branchId}/buckets/{bucketId}::BucketDetailAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: include
        in: query
        description: 'Comma-separated list of data to include. Allowed values: columns,
          metadata, columnMetadata.'
        required: false
        schema:
          type: string
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Bucket detail response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketDetailResponse'
        '404':
          description: Returned when the bucket is not found.
        '403':
          description: Access denied to the bucket.
  /v2/storage/buckets/{bucketId}:
    get:
      tags:
      - Buckets
      summary: Get bucket detail
      description: Retrieve detailed information about a bucket including tables and
        metadata.
      operationId: get_/v2/storage/buckets/{bucketId}::BucketDetailAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: include
        in: query
        description: 'Comma-separated list of data to include. Allowed values: columns,
          metadata, columnMetadata.'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Bucket detail response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketDetailResponse'
        '404':
          description: Returned when the bucket is not found.
        '403':
          description: Access denied to the bucket.
  /v2/storage/branch/{branchId}/buckets/{bucketId}/tables:
    get:
      tags:
      - Buckets
      summary: List tables in a bucket
      description: Returns a list of tables in the specified bucket.
      operationId: get_/v2/storage/branch/{branchId}/buckets/{bucketId}/tables::BucketGetTablesAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: include
        in: query
        description: 'Comma-separated list of data to include. Allowed values: attributes,
          buckets, bucketsWithoutSourceTables, columns, metadata, columnMetadata,
          sourceMetadata, sourceColumnMetadata.'
        required: false
        schema:
          type: string
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of tables in the bucket.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '404':
          description: Bucket not found.
        '400':
          description: Invalid value in the include parameter.
        '403':
          description: Access denied to the bucket.
        '503':
          description: Bucket or its backend connection is under maintenance.
  /v2/storage/buckets/{bucketId}/tables:
    get:
      tags:
      - Buckets
      summary: List tables in a bucket
      description: Returns a list of tables in the specified bucket.
      operationId: get_/v2/storage/buckets/{bucketId}/tables::BucketGetTablesAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: include
        in: query
        description: 'Comma-separated list of data to include. Allowed values: attributes,
          buckets, bucketsWithoutSourceTables, columns, metadata, columnMetadata,
          sourceMetadata, sourceColumnMetadata.'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: List of tables in the bucket.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '404':
          description: Bucket not found.
        '400':
          description: Invalid value in the include parameter.
        '403':
          description: Access denied to the bucket.
        '503':
          description: Bucket or its backend connection is under maintenance.
  /v2/storage/branch/{branchId}/buckets/{bucketId}/owner:
    get:
      tags:
      - Buckets
      summary: Get bucket owner information
      description: Retrieve owner details of a bucket.
      operationId: get_/v2/storage/branch/{branchId}/buckets/{bucketId}/owner::BucketOwnerDetailAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Bucket owner detail response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketOwnerDetailResponse'
        '404':
          description: Returned when the bucket or its owner is not found.
    post:
      tags:
      - Buckets
      summary: Update bucket owner
      description: Set a new owner for a bucket using user ID or email.
      operationId: post_/v2/storage/branch/{branchId}/buckets/{bucketId}/owner::BucketOwnerUpdateAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Bucket owner updated successfully.
        '404':
          description: Returned when the bucket or specified owner is not found.
  /v2/storage/buckets/{bucketId}/owner:
    get:
      tags:
      - Buckets
      summary: Get bucket owner information
      description: Retrieve owner details of a bucket.
      operationId: get_/v2/storage/buckets/{bucketId}/owner::BucketOwnerDetailAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '200':
          description: Bucket owner detail response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketOwnerDetailResponse'
        '404':
          description: Returned when the bucket or its owner is not found.
    post:
      tags:
      - Buckets
      summary: Update bucket owner
      description: Set a new owner for a bucket using user ID or email.
      operationId: post_/v2/storage/buckets/{bucketId}/owner::BucketOwnerUpdateAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '204':
          description: Bucket owner updated successfully.
        '404':
          description: Returned when the bucket or specified owner is not found.
  /v2/storage/branch/{branchId}/buckets/{id}/tables-async:
    post:
      tags:
      - Buckets
      summary: Create a table asynchronously in a bucket
      description: Creates a new table in the specified bucket using an asynchronous
        job. The request supports multiple source types (file, snapshot, time travel,
        workspace).
      operationId: post_/v2/storage/branch/{branchId}/buckets/{id}/tables-async::CreateTableAsyncAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: .+
      - name: X-KBC-Backend
        in: header
        schema:
          schema: BackendConfigurationRequest
          properties:
            context:
              type: string
              nullable: true
              minLength: 1
          type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CreateTableAsyncFromFileRequest'
              - $ref: '#/components/schemas/CreateTableAsyncFromSnapshotRequest'
              - $ref: '#/components/schemas/CreateTableAsyncFromTimeTravelRequest'
              - $ref: '#/components/schemas/CreateTableAsyncFromWorkspaceRequest'
      responses:
        '200':
          description: Table creation job accepted. Returns job information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        '404':
          description: Bucket or source not found, or permissions are invalid.
        '400':
          description: Bad request. Validation or business logic error.
        '403':
          description: Access denied to the resource.
  /v2/storage/buckets/{id}/tables-async:
    post:
      tags:
      - Buckets
      summary: Create a table asynchronously in a bucket
      description: Creates a new table in the specified bucket using an asynchronous
        job. The request supports multiple source types (file, snapshot, time travel,
        workspace).
      operationId: post_/v2/storage/buckets/{id}/tables-async::CreateTableAsyncAction
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: .+
      - name: X-KBC-Backend
        in: header
        schema:
          schema: BackendConfigurationRequest
          properties:
            context:
              type: string
              nullable: true
              minLength: 1
          type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CreateTableAsyncFromFileRequest'
              - $ref: '#/components/schemas/CreateTableAsyncFromSnapshotRequest'
              - $ref: '#/components/schemas/CreateTableAsyncFromTimeTravelRequest'
              - $ref: '#/components/schemas/CreateTableAsyncFromWorkspaceRequest'
      responses:
        '200':
          description: Table creation job accepted. Returns job information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        '404':
          description: Bucket or source not found, or permissions are invalid.
        '400':
          description: Bad request. Validation or business logic error.
        '403':
          description: Access denied to the resource.
  /v2/storage/branch/{branchId}/buckets/{bucketId}/listing:
    get:
      tags:
      - Buckets
      summary: Get bucket listing detail
      description: Retrieve the listing configured on a bucket. Data is read from
        the database — no backend API call is performed.
      operationId: get_/v2/storage/branch/{branchId}/buckets/{bucketId}/listing::BucketListingDetailAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Bucket listing detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketListingDetailResponse'
        '404':
          description: Returned when the bucket is not found or has no listing.
        '403':
          description: Returned when the token does not have manage privilege on the
            bucket.
    post:
      tags:
      - Buckets
      summary: Create bucket listing
      description: "Publishes a BigQuery bucket as an Analytics Hub listing and grants\
        \ the supplied IAM principals subscriber access. Runs as an async job — the\
        \ endpoint returns 202 with the job detail.\n\nInitial response returns job\
        \ details [JobResponse](#model-JobResponse). The result of the asynchronous\
        \ job can be fetched via `/v2/storage/jobs/{id}`. When the job completes,\
        \ final result is [BucketListingCreateJobResult](#model-BucketListingCreateJobResult).\n\
        \n Parameters of job will be [BucketListingCreateJobParams](#components-schemas-BucketListingCreateJobParams)."
      operationId: post_/v2/storage/branch/{branchId}/buckets/{bucketId}/listing::BucketListingCreateAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket to publish as a listing.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bucket is ineligible for a listing, backend is not supported,
            or a listing already exists.
        '404':
          description: Bucket not found in the project.
        '403':
          description: The token does not have MANAGE privilege on the bucket, or
            it is not an admin-attached token whose admin belongs to the bucket's
            organization (or holds the share role on the project), or the project
            lacks the bucket-exposure feature flag. Same gate is enforced on PATCH
            and DELETE for the same route.
        '501':
          description: Bucket listings are not supported on Snowflake Partner Connect
            projects.
        '202':
          description: Job accepted; returns job details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
          x-storage-job-result:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketListingCreateJobResult'
      x-storage-job-result:
        application/json:
          schema:
            $ref: '#/components/schemas/BucketListingCreateJobResult'
      x-storage-job-params:
        application/json:
          schema:
            $ref: '#/components/schemas/BucketListingCreateJobParams'
    delete:
      tags:
      - Buckets
      summary: Delete bucket listing
      description: "Initiate removal of the listing for the specified storage bucket.\
        \ The listing is removed from the Analytics Hub exchange and the listing record\
        \ is deleted. The underlying exchange is retained so that subsequent listings\
        \ in the same project can reuse it.\n\nInitial response returns job details\
        \ [JobResponse](#model-JobResponse). The result of the asynchronous job can\
        \ be fetched via `/v2/storage/jobs/{id}`. When the job completes, final result\
        \ is [BucketListingDeleteResponse](#model-BucketListingDeleteResponse).\n\n\
        \ Parameters of job will be [BucketListingDeleteJobParams](#components-schemas-BucketListingDeleteJobParams)."
      operationId: delete_/v2/storage/branch/{branchId}/buckets/{bucketId}/listing::BucketListingDeleteAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket whose listing should be removed.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      responses:
        '403':
          description: The token does not have MANAGE privilege on the bucket, or
            it is not an admin-attached token whose admin belongs to the bucket's
            organization (or holds the share role on the project), or the project
            lacks the bucket-exposure feature flag. Same gate is enforced on POST
            and PATCH for the same route.
        '404':
          description: Returned when the bucket or its listing is not found.
        '202':
          description: Job accepted; returns job details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
          x-storage-job-result:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketListingDeleteResponse'
      x-storage-job-result:
        application/json:
          schema:
            $ref: '#/components/schemas/BucketListingDeleteResponse'
      x-storage-job-params:
        application/json:
          schema:
            $ref: '#/components/schemas/BucketListingDeleteJobParams'
    patch:
      tags:
      - Buckets
      summary: Update bucket listing
      description: "Update metadata and/or subscribers of an existing bucket listing.\
        \ Only provided fields are updated, but the request body must include at least\
        \ one of `exposureName`, `exposureDescription`, or `bigquery.subscribers`\
        \ — an empty JSON object is rejected with 400. The `bigquery.listingId` is\
        \ immutable and cannot be changed.\n\nInitial response returns job details\
        \ [JobResponse](#model-JobResponse). The result of the asynchronous job can\
        \ be fetched via `/v2/storage/jobs/{id}`. When the job completes, final result\
        \ is [BucketListingUpdateJobResponse](#model-BucketListingUpdateJobResponse).\n\
        \n Parameters of job will be [BucketListingUpdateJobParams](#components-schemas-BucketListingUpdateJobParams)."
      operationId: patch_/v2/storage/branch/{branchId}/buckets/{bucketId}/listing::BucketListingUpdateAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket whose listing should be updated.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Returned when the request body is invalid.
        '403':
          description: The token does not have MANAGE privilege on the bucket, or
            it is not an admin-attached token whose admin belongs to the bucket's
            organization (or holds the share role on the project), or the project
            lacks the bucket-exposure feature flag. Same gate is enforced on POST
            and DELETE for the same route.
        '404':
          description: Returned when the bucket or listing does not exist.
        '501':
          description: Returned when the operation is not supported for Snowflake
            partner connect projects.
        '202':
          description: Job accepted; returns job details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
          x-storage-job-result:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketListingUpdateJobResponse'
      x-storage-job-result:
        application/json:
          schema:
            $ref: '#/components/schemas/BucketListingUpdateJobResponse'
      x-storage-job-params:
        application/json:
          schema:
            $ref: '#/components/schemas/BucketListingUpdateJobParams'
  /v2/storage/buckets/{bucketId}/listing:
    get:
      tags:
      - Buckets
      summary: Get bucket listing detail
      description: Retrieve the listing configured on a bucket. Data is read from
        the database — no backend API call is performed.
      operationId: get_/v2/storage/buckets/{bucketId}/listing::BucketListingDetailAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '200':
          description: Bucket listing detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketListingDetailResponse'
        '404':
          description: Returned when the bucket is not found or has no listing.
        '403':
          description: Returned when the token does not have manage privilege on the
            bucket.
    post:
      tags:
      - Buckets
      summary: Create bucket listing
      description: "Publishes a BigQuery bucket as an Analytics Hub listing and grants\
        \ the supplied IAM principals subscriber access. Runs as an async job — the\
        \ endpoint returns 202 with the job detail.\n\nInitial response returns job\
        \ details [JobResponse](#model-JobResponse). The result of the asynchronous\
        \ job can be fetched via `/v2/storage/jobs/{id}`. When the job completes,\
        \ final result is [BucketListingCreateJobResult](#model-BucketListingCreateJobResult).\n\
        \n Parameters of job will be [BucketListingCreateJobParams](#components-schemas-BucketListingCreateJobParams)."
      operationId: post_/v2/storage/buckets/{bucketId}/listing::BucketListingCreateAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket to publish as a listing.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '400':
          description: Bucket is ineligible for a listing, backend is not supported,
            or a listing already exists.
        '404':
          description: Bucket not found in the project.
        '403':
          description: The token does not have MANAGE privilege on the bucket, or
            it is not an admin-attached token whose admin belongs to the bucket's
            organization (or holds the share role on the project), or the project
            lacks the bucket-exposure feature flag. Same gate is enforced on PATCH
            and DELETE for the same route.
        '501':
          description: Bucket listings are not supported on Snowflake Partner Connect
            projects.
        '202':
          description: Job accepted; returns job details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
          x-storage-job-result:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketListingCreateJobResult'
      x-storage-job-result:
        application/json:
          schema:
            $ref: '#/components/schemas/BucketListingCreateJobResult'
      x-storage-job-params:
        application/json:
          schema:
            $ref: '#/components/schemas/BucketListingCreateJobParams'
    delete:
      tags:
      - Buckets
      summary: Delete bucket listing
      description: "Initiate removal of the listing for the specified storage bucket.\
        \ The listing is removed from the Analytics Hub exchange and the listing record\
        \ is deleted. The underlying exchange is retained so that subsequent listings\
        \ in the same project can reuse it.\n\nInitial response returns job details\
        \ [JobResponse](#model-JobResponse). The result of the asynchronous job can\
        \ be fetched via `/v2/storage/jobs/{id}`. When the job completes, final result\
        \ is [BucketListingDeleteResponse](#model-BucketListingDeleteResponse).\n\n\
        \ Parameters of job will be [BucketListingDeleteJobParams](#components-schemas-BucketListingDeleteJobParams)."
      operationId: delete_/v2/storage/buckets/{bucketId}/listing::BucketListingDeleteAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket whose listing should be removed.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '403':
          description: The token does not have MANAGE privilege on the bucket, or
            it is not an admin-attached token whose admin belongs to the bucket's
            organization (or holds the share role on the project), or the project
            lacks the bucket-exposure feature flag. Same gate is enforced on POST
            and PATCH for the same route.
        '404':
          description: Returned when the bucket or its listing is not found.
        '202':
          description: Job accepted; returns job details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
          x-storage-job-result:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketListingDeleteResponse'
      x-storage-job-result:
        application/json:
          schema:
            $ref: '#/components/schemas/BucketListingDeleteResponse'
      x-storage-job-params:
        application/json:
          schema:
            $ref: '#/components/schemas/BucketListingDeleteJobParams'
    patch:
      tags:
      - Buckets
      summary: Update bucket listing
      description: "Update metadata and/or subscribers of an existing bucket listing.\
        \ Only provided fields are updated, but the request body must include at least\
        \ one of `exposureName`, `exposureDescription`, or `bigquery.subscribers`\
        \ — an empty JSON object is rejected with 400. The `bigquery.listingId` is\
        \ immutable and cannot be changed.\n\nInitial response returns job details\
        \ [JobResponse](#model-JobResponse). The result of the asynchronous job can\
        \ be fetched via `/v2/storage/jobs/{id}`. When the job completes, final result\
        \ is [BucketListingUpdateJobResponse](#model-BucketListingUpdateJobResponse).\n\
        \n Parameters of job will be [BucketListingUpdateJobParams](#components-schemas-BucketListingUpdateJobParams)."
      operationId: patch_/v2/storage/buckets/{bucketId}/listing::BucketListingUpdateAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket whose listing should be updated.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '400':
          description: Returned when the request body is invalid.
        '403':
          description: The token does not have MANAGE privilege on the bucket, or
            it is not an admin-attached token whose admin belongs to the bucket's
            organization (or holds the share role on the project), or the project
            lacks the bucket-exposure feature flag. Same gate is enforced on POST
            and DELETE for the same route.
        '404':
          description: Returned when the bucket or listing does not exist.
        '501':
          description: Returned when the operation is not supported for Snowflake
            partner connect projects.
        '202':
          description: Job accepted; returns job details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
          x-storage-job-result:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketListingUpdateJobResponse'
      x-storage-job-result:
        application/json:
          schema:
            $ref: '#/components/schemas/BucketListingUpdateJobResponse'
      x-storage-job-params:
        application/json:
          schema:
            $ref: '#/components/schemas/BucketListingUpdateJobParams'
  /v2/storage/branch/{branchId}/listings:
    get:
      tags:
      - Buckets
      summary: List bucket listings
      description: List all bucket exposures (Analytics Hub listings) in the project
        or dev branch. Returns an empty array when no listings exist. Data is read
        from the database — no backend API call is performed.
      operationId: get_/v2/storage/branch/{branchId}/listings::BucketListingsListAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of bucket listings the token has manage privilege on.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectBucketListingResponse'
        '501':
          description: Bucket listings are not supported on Snowflake Partner Connect
            projects.
  /v2/storage/listings:
    get:
      tags:
      - Buckets
      summary: List bucket listings
      description: List all bucket exposures (Analytics Hub listings) in the project
        or dev branch. Returns an empty array when no listings exist. Data is read
        from the database — no backend API call is performed.
      operationId: get_/v2/storage/listings::BucketListingsListAction
      responses:
        '200':
          description: List of bucket listings the token has manage privilege on.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectBucketListingResponse'
        '501':
          description: Bucket listings are not supported on Snowflake Partner Connect
            projects.
  /v2/storage/branch/{branchId}/buckets/{bucketId}/refresh:
    put:
      tags:
      - Buckets
      summary: Refresh a bucket
      description: "Triggers a bucket refresh job for an external bucket.\n\nInitial\
        \ response returns job details [JobResponse](#model-JobResponse). The result\
        \ of the asynchronous job can be fetched via `/v2/storage/jobs/{id}`. When\
        \ the job completes, final result is [RefreshJobResponse](#model-RefreshJobResponse).\n\
        \n Parameters of job will be [RefreshJobParams](#components-schemas-RefreshJobParams)."
      operationId: put_/v2/storage/branch/{branchId}/buckets/{bucketId}/refresh::RefreshAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket to refresh.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      responses:
        '404':
          description: Returned when the bucket is not found.
        '400':
          description: Bucket refresh is not supported or invalid.
        '403':
          description: Access to the bucket was denied.
        '202':
          description: Job accepted; returns job details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
          x-storage-job-result:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshJobResponse'
      x-storage-job-result:
        application/json:
          schema:
            $ref: '#/components/schemas/RefreshJobResponse'
      x-storage-job-params:
        application/json:
          schema:
            $ref: '#/components/schemas/RefreshJobParams'
  /v2/storage/buckets/{bucketId}/refresh:
    put:
      tags:
      - Buckets
      summary: Refresh a bucket
      description: "Triggers a bucket refresh job for an external bucket.\n\nInitial\
        \ response returns job details [JobResponse](#model-JobResponse). The result\
        \ of the asynchronous job can be fetched via `/v2/storage/jobs/{id}`. When\
        \ the job completes, final result is [RefreshJobResponse](#model-RefreshJobResponse).\n\
        \n Parameters of job will be [RefreshJobParams](#components-schemas-RefreshJobParams)."
      operationId: put_/v2/storage/buckets/{bucketId}/refresh::RefreshAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket to refresh.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '404':
          description: Returned when the bucket is not found.
        '400':
          description: Bucket refresh is not supported or invalid.
        '403':
          description: Access to the bucket was denied.
        '202':
          description: Job accepted; returns job details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
          x-storage-job-result:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshJobResponse'
      x-storage-job-result:
        application/json:
          schema:
            $ref: '#/components/schemas/RefreshJobResponse'
      x-storage-job-params:
        application/json:
          schema:
            $ref: '#/components/schemas/RefreshJobParams'
  /v2/storage/branch/{branchId}/buckets/{bucketId}/refresh-tables-info:
    post:
      operationId: post_/v2/storage/branch/{branchId}/buckets/{bucketId}/refresh-tables-info::RefreshTablesInformationAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: bucketId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        default:
          description: ''
  /v2/storage/branch/{branchId}/buckets/register:
    post:
      operationId: post_/v2/storage/branch/{branchId}/buckets/register::RegisterExistingBucketAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: ''
  /v2/storage/buckets/register:
    post:
      operationId: post_/v2/storage/buckets/register::RegisterExistingBucketAction
      responses:
        default:
          description: ''
  /v2/storage/branch/{branchId}/buckets/{bucketId}/scheduled-tasks/refresh:
    post:
      operationId: post_/v2/storage/branch/{branchId}/buckets/{bucketId}/scheduled-tasks/refresh::ScheduleRefreshAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: bucketId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/ScheduleRefreshRequest'
      responses:
        default:
          description: ''
  /v2/storage/buckets/{bucketId}/scheduled-tasks/refresh:
    post:
      operationId: post_/v2/storage/buckets/{bucketId}/scheduled-tasks/refresh::ScheduleRefreshAction
      parameters:
      - name: bucketId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/ScheduleRefreshRequest'
      responses:
        default:
          description: ''
  /v2/storage/branch/{branchId}/buckets/{bucketId}/share:
    put:
      operationId: put_/v2/storage/branch/{branchId}/buckets/{bucketId}/share::BucketShareUpdateAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: bucketId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        default:
          description: ''
    delete:
      tags:
      - Buckets
      summary: Delete bucket share
      description: Initiate removal of sharing settings for the specified storage
        bucket.
      operationId: delete_/v2/storage/branch/{branchId}/buckets/{bucketId}/share::BucketShareDeleteAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket to unshare.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Share deletion job enqueued; returns job details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketShareDeleteResponse'
        '403':
          description: Returned when permissions are insufficient.
        '404':
          description: Returned when the bucket is not found.
  /v2/storage/buckets/{bucketId}/share:
    put:
      operationId: put_/v2/storage/buckets/{bucketId}/share::BucketShareUpdateAction
      parameters:
      - name: bucketId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        default:
          description: ''
    delete:
      tags:
      - Buckets
      summary: Delete bucket share
      description: Initiate removal of sharing settings for the specified storage
        bucket.
      operationId: delete_/v2/storage/buckets/{bucketId}/share::BucketShareDeleteAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket to unshare.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '202':
          description: Share deletion job enqueued; returns job details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketShareDeleteResponse'
        '403':
          description: Returned when permissions are insufficient.
        '404':
          description: Returned when the bucket is not found.
  /v2/storage/branch/{branchId}/buckets/{bucketId}/share-organization:
    post:
      tags:
      - Buckets
      summary: Share bucket with organization
      description: Initiate sharing of the specified storage bucket with the organization.
      operationId: post_/v2/storage/branch/{branchId}/buckets/{bucketId}/share-organization::BucketShareOrganizationAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket to share.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Share job enqueued; returns job details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketShareOrganizationResponse'
        '400':
          description: Returned when sharing a Dev/Branch bucket is not supported.
        '403':
          description: Returned when permissions are insufficient.
        '501':
          description: Returned when the operation is not supported for Snowflake
            partner connect projects.
  /v2/storage/buckets/{bucketId}/share-organization:
    post:
      tags:
      - Buckets
      summary: Share bucket with organization
      description: Initiate sharing of the specified storage bucket with the organization.
      operationId: post_/v2/storage/buckets/{bucketId}/share-organization::BucketShareOrganizationAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket to share.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '202':
          description: Share job enqueued; returns job details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketShareOrganizationResponse'
        '400':
          description: Returned when sharing a Dev/Branch bucket is not supported.
        '403':
          description: Returned when permissions are insufficient.
        '501':
          description: Returned when the operation is not supported for Snowflake
            partner connect projects.
  /v2/storage/branch/{branchId}/buckets/{bucketId}/share-organization-project:
    post:
      tags:
      - Buckets
      summary: Share bucket with organization project
      description: Initiate sharing of the specified storage bucket with an organization
        project.
      operationId: post_/v2/storage/branch/{branchId}/buckets/{bucketId}/share-organization-project::BucketShareOrganizationProjectAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket to share.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Share job enqueued; returns job details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketShareOrganizationProjectResponse'
        '400':
          description: Returned when sharing a Dev/Branch bucket is not supported.
        '403':
          description: Returned when permissions are insufficient.
        '404':
          description: Returned when the bucket is not found.
        '501':
          description: Returned when the operation is not supported for Snowflake
            partner connect projects.
  /v2/storage/buckets/{bucketId}/share-organization-project:
    post:
      tags:
      - Buckets
      summary: Share bucket with organization project
      description: Initiate sharing of the specified storage bucket with an organization
        project.
      operationId: post_/v2/storage/buckets/{bucketId}/share-organization-project::BucketShareOrganizationProjectAction
      parameters:
      - name: bucketId
        in: path
        description: Identifier of the bucket to share.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '202':
          description: Share job enqueued; returns job details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketShareOrganizationProjectResponse'
        '400':
          description: Returned when sharing a Dev/Branch bucket is not supported.
        '403':
          description: Returned when permissions are insufficient.
        '404':
          description: Returned when the bucket is not found.
        '501':
          description: Returned when the operation is not supported for Snowflake
            partner connect projects.
  /v2/storage/branch/{branchId}/buckets/{bucketId}/share-to-projects:
    post:
      operationId: post_/v2/storage/branch/{branchId}/buckets/{bucketId}/share-to-projects::BucketShareToProjectsAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: bucketId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        default:
          description: ''
  /v2/storage/buckets/{bucketId}/share-to-projects:
    post:
      operationId: post_/v2/storage/buckets/{bucketId}/share-to-projects::BucketShareToProjectsAction
      parameters:
      - name: bucketId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        default:
          description: ''
  /v2/storage/branch/{branchId}/buckets/{bucketId}/share-to-users:
    post:
      operationId: post_/v2/storage/branch/{branchId}/buckets/{bucketId}/share-to-users::BucketShareToUsersAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: bucketId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        default:
          description: ''
  /v2/storage/buckets/{bucketId}/share-to-users:
    post:
      operationId: post_/v2/storage/buckets/{bucketId}/share-to-users::BucketShareToUsersAction
      parameters:
      - name: bucketId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        default:
          description: ''
  /v2/storage/branch/{branchId}/columns/{id}/metadata:
    get:
      tags:
      - Columns
      summary: Get column metadata
      description: Returns metadata for a specific column in a table.
      operationId: get_/v2/storage/branch/{branchId}/columns/{id}/metadata::ColumnMetadataDetailAction
      parameters:
      - name: id
        in: path
        description: Column ID in format bucket.table.column
        required: true
        schema:
          type: string
          pattern: .+
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Column metadata response
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    key:
                      type: string
                    value:
                      type: string
                    provider:
                      type: string
                    timestamp:
                      type: string
                      format: date-time
                  type: object
        '404':
          description: Column not found.
    post:
      tags:
      - Columns
      summary: Create or update column metadata
      description: Creates new metadata records or updates existing ones for the specified
        column.
      operationId: post_/v2/storage/branch/{branchId}/columns/{id}/metadata::ColumnMetadataCreateOrUpdateAction
      parameters:
      - name: id
        in: path
        description: Column ID in format bucket.table.column
        required: true
        schema:
          type: string
          pattern: .+
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: Metadata payload including provider identifier and metadata items.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMetadataWithProviderRequest'
      responses:
        '201':
          description: Metadata successfully created or updated.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MetadataItemResponse'
        '400':
          description: Returned when validation fails for the metadata payload or
            column lookup.
        '403':
          description: Returned when the token lacks write privileges or the provider
            cannot be edited.
        '404':
          description: Returned when the column is not found.
  /v2/storage/columns/{id}/metadata:
    get:
      tags:
      - Columns
      summary: Get column metadata
      description: Returns metadata for a specific column in a table.
      operationId: get_/v2/storage/columns/{id}/metadata::ColumnMetadataDetailAction
      parameters:
      - name: id
        in: path
        description: Column ID in format bucket.table.column
        required: true
        schema:
          type: string
          pattern: .+
      responses:
        '200':
          description: Column metadata response
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    key:
                      type: string
                    value:
                      type: string
                    provider:
                      type: string
                    timestamp:
                      type: string
                      format: date-time
                  type: object
        '404':
          description: Column not found.
    post:
      tags:
      - Columns
      summary: Create or update column metadata
      description: Creates new metadata records or updates existing ones for the specified
        column.
      operationId: post_/v2/storage/columns/{id}/metadata::ColumnMetadataCreateOrUpdateAction
      parameters:
      - name: id
        in: path
        description: Column ID in format bucket.table.column
        required: true
        schema:
          type: string
          pattern: .+
      requestBody:
        description: Metadata payload including provider identifier and metadata items.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMetadataWithProviderRequest'
      responses:
        '201':
          description: Metadata successfully created or updated.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MetadataItemResponse'
        '400':
          description: Returned when validation fails for the metadata payload or
            column lookup.
        '403':
          description: Returned when the token lacks write privileges or the provider
            cannot be edited.
        '404':
          description: Returned when the column is not found.
  /v2/storage/branch/{branchId}/columns/{id}/metadata/{metadataId}:
    delete:
      tags:
      - Columns
      summary: Delete column metadata
      description: Deletes a single metadata entry for a specific column.
      operationId: delete_/v2/storage/branch/{branchId}/columns/{id}/metadata/{metadataId}::ColumnMetadataDeleteAction
      parameters:
      - name: id
        in: path
        description: Column ID in format bucket.table.column
        required: true
        schema:
          type: string
          pattern: .+
      - name: metadataId
        in: path
        description: Numeric identifier of the metadata record to delete.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Metadata entry deleted successfully.
        '400':
          description: Invalid request (e.g. malformed metadata ID).
        '403':
          description: 'Forbidden: metadata provider cannot be deleted or insufficient
            permissions.'
        '404':
          description: Column or metadata entry not found.
  /v2/storage/columns/{id}/metadata/{metadataId}:
    delete:
      tags:
      - Columns
      summary: Delete column metadata
      description: Deletes a single metadata entry for a specific column.
      operationId: delete_/v2/storage/columns/{id}/metadata/{metadataId}::ColumnMetadataDeleteAction
      parameters:
      - name: id
        in: path
        description: Column ID in format bucket.table.column
        required: true
        schema:
          type: string
          pattern: .+
      - name: metadataId
        in: path
        description: Numeric identifier of the metadata record to delete.
        required: true
        schema:
          type: integer
          pattern: '[0-9]+'
      responses:
        '204':
          description: Metadata entry deleted successfully.
        '400':
          description: Invalid request (e.g. malformed metadata ID).
        '403':
          description: 'Forbidden: metadata provider cannot be deleted or insufficient
            permissions.'
        '404':
          description: Column or metadata entry not found.
  /v2/storage/branch/{branchId}/components/{componentId}:
    get:
      tags:
      - Components
      summary: Get detailed component information in a branch
      description: Returns detailed information about a specific component in a branch
        context. Requires authentication.
      operationId: get_/v2/storage/branch/{branchId}/components/{componentId}::BranchComponentDetailAction
      parameters:
      - name: componentId
        in: path
        description: Component identifier.
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: branchId
        in: path
        description: Branch identifier.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Component detail retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentArrayRead'
        '404':
          description: Component or branch not found.
        '403':
          description: Access to component is forbidden.
  /v2/storage/branch/{branchId}/components:
    get:
      operationId: get_/v2/storage/branch/{branchId}/components::ComponentsListAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: ''
  /v2/storage/components:
    get:
      operationId: get_/v2/storage/components::ComponentsListAction
      responses:
        default:
          description: ''
  /v2/storage/branch/{branchId}/components/{componentId}/configs:
    get:
      tags:
      - Component Configurations
      summary: List configurations
      description: List all configurations for a component.
      operationId: get_/v2/storage/branch/{branchId}/components/{componentId}/configs::ConfigurationListAction
      parameters:
      - name: isDeleted
        in: query
        required: false
        schema:
          type: boolean
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '200':
          description: List of configurations
        '404':
          description: Component not found
    post:
      tags:
      - Component Configurations
      summary: Create configuration
      description: Create a new component configuration.
      operationId: post_/v2/storage/branch/{branchId}/components/{componentId}/configs::ConfigurationCreateAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CreateConfigurationRequest'
      responses:
        '201':
          description: Configuration created
        '404':
          description: Component not found
  /v2/storage/components/{componentId}/configs:
    get:
      tags:
      - Component Configurations
      summary: List configurations
      description: List all configurations for a component.
      operationId: get_/v2/storage/components/{componentId}/configs::ConfigurationListAction
      parameters:
      - name: isDeleted
        in: query
        required: false
        schema:
          type: boolean
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '200':
          description: List of configurations
        '404':
          description: Component not found
    post:
      tags:
      - Component Configurations
      summary: Create configuration
      description: Create a new component configuration.
      operationId: post_/v2/storage/components/{componentId}/configs::ConfigurationCreateAction
      parameters:
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CreateConfigurationRequest'
      responses:
        '201':
          description: Configuration created
        '404':
          description: Component not found
  /v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}:
    get:
      tags:
      - Component Configurations
      summary: Get configuration detail
      description: Retrieve detailed information about a component configuration.
      operationId: get_/v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}::ConfigurationDetailAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '200':
          description: Configuration detail
        '404':
          description: Component or configuration not found
    put:
      tags:
      - Component Configurations
      summary: Update configuration
      description: Update an existing component configuration.
      operationId: put_/v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}::ConfigurationUpdateAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/UpdateConfigurationRequest'
      responses:
        '200':
          description: Configuration updated
        '404':
          description: Component or configuration not found
    delete:
      operationId: delete_/v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}::ConfigurationDeleteAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        default:
          description: ''
  /v2/storage/components/{componentId}/configs/{configurationId}:
    get:
      tags:
      - Component Configurations
      summary: Get configuration detail
      description: Retrieve detailed information about a component configuration.
      operationId: get_/v2/storage/components/{componentId}/configs/{configurationId}::ConfigurationDetailAction
      parameters:
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '200':
          description: Configuration detail
        '404':
          description: Component or configuration not found
    put:
      tags:
      - Component Configurations
      summary: Update configuration
      description: Update an existing component configuration.
      operationId: put_/v2/storage/components/{componentId}/configs/{configurationId}::ConfigurationUpdateAction
      parameters:
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/UpdateConfigurationRequest'
      responses:
        '200':
          description: Configuration updated
        '404':
          description: Component or configuration not found
    delete:
      operationId: delete_/v2/storage/components/{componentId}/configs/{configurationId}::ConfigurationDeleteAction
      parameters:
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        default:
          description: ''
  /v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}/diff:
    get:
      tags:
      - Component Configurations
      summary: Get configuration three-way diff
      description: Returns the "base" (dev branch version 1), "ours" (dev branch head)
        and "theirs" (default branch head) versions of the configuration body, so
        a client can render a three-way diff for conflict resolution. Each side is
        null when the configuration does not exist on that side. When there is no
        conflict all three sides are equal. Only available in dev branches.
      operationId: get_/v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}/diff::ConfigurationDiffAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '200':
          description: Three-way diff of the configuration body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationDiffResponse'
        '404':
          description: Component not found, or configuration absent in both branches
        '400':
          description: Called on the default branch — diff is only available in dev
            branches
  /v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}/reset-to-default:
    post:
      tags:
      - Component Configurations
      summary: Reset configuration to default branch
      description: Reset a dev branch configuration to the state of the default branch.
        Only available in dev branches.
      operationId: post_/v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}/reset-to-default::ConfigurationResetToDefaultAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '204':
          description: Configuration reset
        '404':
          description: Component not found
        '501':
          description: Not available on default branch
  /v2/storage/components/{componentId}/configs/{configurationId}/reset-to-default:
    post:
      tags:
      - Component Configurations
      summary: Reset configuration to default branch
      description: Reset a dev branch configuration to the state of the default branch.
        Only available in dev branches.
      operationId: post_/v2/storage/components/{componentId}/configs/{configurationId}/reset-to-default::ConfigurationResetToDefaultAction
      parameters:
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '204':
          description: Configuration reset
        '404':
          description: Component not found
        '501':
          description: Not available on default branch
  /v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}/restore:
    post:
      operationId: post_/v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}/restore::ConfigurationRestoreAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        default:
          description: ''
  /v2/storage/components/{componentId}/configs/{configurationId}/restore:
    post:
      operationId: post_/v2/storage/components/{componentId}/configs/{configurationId}/restore::ConfigurationRestoreAction
      parameters:
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        default:
          description: ''
  /v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}/state:
    put:
      tags:
      - Component Configurations
      summary: Update configuration state
      description: Update the state of a component configuration.
      operationId: put_/v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}/state::ConfigurationStateUpdateAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/UpdateConfigurationStateRequest'
      responses:
        '200':
          description: Configuration state updated
        '404':
          description: Component or configuration not found
  /v2/storage/components/{componentId}/configs/{configurationId}/state:
    put:
      tags:
      - Component Configurations
      summary: Update configuration state
      description: Update the state of a component configuration.
      operationId: put_/v2/storage/components/{componentId}/configs/{configurationId}/state::ConfigurationStateUpdateAction
      parameters:
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/UpdateConfigurationStateRequest'
      responses:
        '200':
          description: Configuration state updated
        '404':
          description: Component or configuration not found
  /v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}/workspaces:
    get:
      tags:
      - Component Configurations
      summary: List configuration workspaces
      description: List workspaces associated with a component configuration.
      operationId: get_/v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}/workspaces::ConfigurationWorkspacesListAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '200':
          description: List of workspaces
        '404':
          description: Component or configuration not found
    post:
      tags:
      - Workspaces
      summary: Create workspace
      description: Creates a new workspace. Provide componentId and configurationId
        to create workspace for a configuration. Set "async=true" to create asynchronously.
      operationId: post_/v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}/workspaces::WorkspaceCreateAction
      parameters:
      - name: componentId
        in: path
        description: Component identifier.
        required: true
        schema:
          type: string
          pattern: .+
      - name: configurationId
        in: path
        description: Configuration identifier.
        required: true
        schema:
          type: string
          pattern: .+
      - name: async
        in: query
        description: Create workspace asynchronously.
        required: false
        schema:
          type: boolean
          default: false
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: X-KBC-Backend
        in: header
        schema:
          schema: BackendConfigurationRequest
          properties:
            context:
              type: string
              nullable: true
              minLength: 1
          type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CreateWorkspaceRequest'
      responses:
        '201':
          description: Workspace created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDetailResponse'
        '202':
          description: Workspace creation job enqueued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        '400':
          description: Returned when the request is invalid.
        '404':
          description: Returned when the component or configuration is not found.
        '501':
          description: Returned when Snowflake Partner Connect projects are not supported.
  /v2/storage/components/{componentId}/configs/{configurationId}/workspaces:
    get:
      tags:
      - Component Configurations
      summary: List configuration workspaces
      description: List workspaces associated with a component configuration.
      operationId: get_/v2/storage/components/{componentId}/configs/{configurationId}/workspaces::ConfigurationWorkspacesListAction
      parameters:
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '200':
          description: List of workspaces
        '404':
          description: Component or configuration not found
    post:
      tags:
      - Workspaces
      summary: Create workspace
      description: Creates a new workspace. Provide componentId and configurationId
        to create workspace for a configuration. Set "async=true" to create asynchronously.
      operationId: post_/v2/storage/components/{componentId}/configs/{configurationId}/workspaces::WorkspaceCreateAction
      parameters:
      - name: componentId
        in: path
        description: Component identifier.
        required: true
        schema:
          type: string
          pattern: .+
      - name: configurationId
        in: path
        description: Configuration identifier.
        required: true
        schema:
          type: string
          pattern: .+
      - name: async
        in: query
        description: Create workspace asynchronously.
        required: false
        schema:
          type: boolean
          default: false
      - name: X-KBC-Backend
        in: header
        schema:
          schema: BackendConfigurationRequest
          properties:
            context:
              type: string
              nullable: true
              minLength: 1
          type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CreateWorkspaceRequest'
      responses:
        '201':
          description: Workspace created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDetailResponse'
        '202':
          description: Workspace creation job enqueued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        '400':
          description: Returned when the request is invalid.
        '404':
          description: Returned when the component or configuration is not found.
        '501':
          description: Returned when Snowflake Partner Connect projects are not supported.
  /v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}/metadata:
    get:
      tags:
      - Component Configuration Metadata
      summary: List configuration metadata
      description: List metadata for a component configuration.
      operationId: get_/v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}/metadata::ConfigurationMetadataListAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '200':
          description: List of metadata
        '404':
          description: Component or configuration not found
    post:
      tags:
      - Component Configuration Metadata
      summary: Create configuration metadata
      description: Create or update metadata for a component configuration.
      operationId: post_/v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}/metadata::ConfigurationMetadataCreateAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CreateMetadataRequest'
      responses:
        '201':
          description: Metadata created
        '404':
          description: Component or configuration not found
  /v2/storage/components/{componentId}/configs/{configurationId}/metadata:
    get:
      tags:
      - Component Configuration Metadata
      summary: List configuration metadata
      description: List metadata for a component configuration.
      operationId: get_/v2/storage/components/{componentId}/configs/{configurationId}/metadata::ConfigurationMetadataListAction
      parameters:
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '200':
          description: List of metadata
        '404':
          description: Component or configuration not found
    post:
      tags:
      - Component Configuration Metadata
      summary: Create configuration metadata
      description: Create or update metadata for a component configuration.
      operationId: post_/v2/storage/components/{componentId}/configs/{configurationId}/metadata::ConfigurationMetadataCreateAction
      parameters:
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CreateMetadataRequest'
      responses:
        '201':
          description: Metadata created
        '404':
          description: Component or configuration not found
  /v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}/metadata/{metadataId}:
    delete:
      tags:
      - Component Configuration Metadata
      summary: Delete configuration metadata
      description: Delete a metadata entry from a component configuration. Only available
        on the default branch.
      operationId: delete_/v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}/metadata/{metadataId}::ConfigurationMetadataDeleteAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: metadataId
        in: path
        required: true
        schema:
          type: string
          pattern: '[0-9]+'
      responses:
        '204':
          description: Metadata deleted
        '404':
          description: Component, configuration or metadata not found
        '501':
          description: Not available on dev branches
  /v2/storage/components/{componentId}/configs/{configurationId}/metadata/{metadataId}:
    delete:
      tags:
      - Component Configuration Metadata
      summary: Delete configuration metadata
      description: Delete a metadata entry from a component configuration. Only available
        on the default branch.
      operationId: delete_/v2/storage/components/{componentId}/configs/{configurationId}/metadata/{metadataId}::ConfigurationMetadataDeleteAction
      parameters:
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: metadataId
        in: path
        required: true
        schema:
          type: string
          pattern: '[0-9]+'
      responses:
        '204':
          description: Metadata deleted
        '404':
          description: Component, configuration or metadata not found
        '501':
          description: Not available on dev branches
  /v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}/rows:
    get:
      tags:
      - Component Configuration Rows
      summary: List configuration rows
      description: List all rows in a component configuration.
      operationId: get_/v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}/rows::ConfigurationRowListAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '200':
          description: List of rows
        '404':
          description: Component or configuration not found
    post:
      tags:
      - Component Configuration Rows
      summary: Create configuration row
      description: Create a new row in a component configuration.
      operationId: post_/v2/storage/branch/{branchId}/components/{componentId}/configs/{configurationId}/rows::ConfigurationRowCreateAction
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CreateConfigurationRowRequest'
      responses:
        '201':
          description: Row created
        '404':
          description: Component or configuration not found
        '409':
          description: Version conflict
  /v2/storage/components/{componentId}/configs/{configurationId}/rows:
    get:
      tags:
      - Component Configuration Rows
      summary: List configuration rows
      description: List all rows in a component configuration.
      operationId: get_/v2/storage/components/{componentId}/configs/{configurationId}/rows::ConfigurationRowListAction
      parameters:
      - name: componentId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^/]+'
      responses:
        '200':
          description: List of rows
        '404':
          description: Component or configuration not found
    post:
      tags:
      - Component Configuration Rows
[...]
