openapi: 3.2.0
info:
  title: Keboola Connection Management SUPER - Commands API
  description: 'The Keboola Connection Management API covers all tasks required for managing

    projects, plus super-admin features for controlling and monitoring Keboola Connection.


    ## Projects management

    * Create, modify and delete maintainers, organizations and projects

    * Move projects between organizations

    * Define project limits

    * Provision storage backends

    * Access project management activity log


    ## Projects monitoring

    * Monitoring of projects across organizations and maintainers


    ## Super user control and monitoring

    * UI release and deployment

    * Components management

    * Final project delete

    * Workers start/shutdown, etc.


    ## Authentication

    The API authenticates with a personal access token sent in the `X-KBC-ManageApiToken`

    header. Tokens can be created in

    [Account Settings](https://connection.keboola.com/admin/account/change-password)

    in Keboola Connection. A token is tied to an administrator and inherits that

    administrator''s permissions; when the administrator is disabled or deleted, all

    their tokens become invalid.


    ```

    curl -H "X-KBC-ManageApiToken: USER_TOKEN" https://connection.keboola.com/manage/tokens/verify

    ```


    ## Token types

    | Type  | Tied to a user | Token string visible only on create | Description |

    | ----- | -------------- | ----------------------------------- | ----------- |

    | user  | Yes            | Yes                                 | Full access to maintainers, organizations and projects the user can see. |

    | super | No             | Yes                                 | KBC management. Scopes such as `super_ui_deploy`, `super_monitoring` etc. can be limited per-token. |


    Legacy Apiary reference: see the

    [Manage API blueprint](https://github.com/keboola/connection/blob/master/Package/ManageApiPhpClient/apiary.apib)

    for the historical document this OpenAPI spec is migrating from.

    '
  version: '1.0'
servers:
- url: https://connection.keboola.com
  description: AWS US East
- url: https://connection.eu-central-1.keboola.com
  description: AWS EU Central
- url: https://connection.north-europe.azure.keboola.com
  description: Azure North Europe
- url: https://connection.east-us-2.azure.keboola-testing.com
  description: Azure Testing
security:
- StorageKey: []
- ManageKey: []
- BearerAuth: []
tags:
- name: SUPER - Commands
  description: Run Keboola Connection CLI commands asynchronously via the commands queue.
paths:
  /manage/commands:
    post:
      tags:
      - SUPER - Commands
      summary: Run Command
      description: 'Executes a Keboola Connection CLI command asynchronously. The command is enqueued to the commands queue, `commandExecutionId` is returned.

        You can use this ID to search the command output in Papertrail logs.'
      operationId: post_/manage/commands::CommandEnqueueAction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnqueueCommandRequest'
      responses:
        '200':
          description: Identifier of the enqueued command execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnqueueCommandResponse'
              example:
                commandExecutionId: 123-abcd
        '400':
          description: Returned when the request body fails validation (missing `command`, wrong types).
        '401':
          description: Returned when the Manage token is missing or invalid.
        '403':
          description: Returned when the current admin is not a super admin.
components:
  schemas:
    EnqueueCommandRequest:
      description: CLI command enqueue request payload.
      required:
      - command
      properties:
        command:
          description: CLI command to execute.
          type: string
          example: storage:workers-list
        parameters:
          description: Optional command parameters appended to the CLI invocation.
          type: array
          items:
            type: string
          example:
          - --help
          - '23'
          default: []
      type: object
    EnqueueCommandResponse:
      required:
      - commandExecutionId
      properties:
        commandExecutionId:
          description: Identifier of the enqueued command execution; this ID is appended to all logs produced by the command.
          type: string
          example: 123-abcd
      type: object
  securitySchemes:
    StorageKey:
      type: apiKey
      name: X-StorageApi-Token
      in: header
    ManageKey:
      type: apiKey
      name: X-KBC-ManageApiToken
      in: header
    BearerAuth:
      type: http
      bearerFormat: Access Token (kbc_at_...)
      scheme: bearer
