openapi: 3.2.0
info:
  title: Keboola Connection Management Token Verification API
  description: 'The Keboola Connection Management API covers all tasks required for managing

    projects, plus super-admin features for controlling and monitoring Keboola Connection.


    ## Projects management

    * Create, modify and delete maintainers, organizations and projects

    * Move projects between organizations

    * Define project limits

    * Provision storage backends

    * Access project management activity log


    ## Projects monitoring

    * Monitoring of projects across organizations and maintainers


    ## Super user control and monitoring

    * UI release and deployment

    * Components management

    * Final project delete

    * Workers start/shutdown, etc.


    ## Authentication

    The API authenticates with a personal access token sent in the `X-KBC-ManageApiToken`

    header. Tokens can be created in

    [Account Settings](https://connection.keboola.com/admin/account/change-password)

    in Keboola Connection. A token is tied to an administrator and inherits that

    administrator''s permissions; when the administrator is disabled or deleted, all

    their tokens become invalid.


    ```

    curl -H "X-KBC-ManageApiToken: USER_TOKEN" https://connection.keboola.com/manage/tokens/verify

    ```


    ## Token types

    | Type  | Tied to a user | Token string visible only on create | Description |

    | ----- | -------------- | ----------------------------------- | ----------- |

    | user  | Yes            | Yes                                 | Full access to maintainers, organizations and projects the user can see. |

    | super | No             | Yes                                 | KBC management. Scopes such as `super_ui_deploy`, `super_monitoring` etc. can be limited per-token. |


    Legacy Apiary reference: see the

    [Manage API blueprint](https://github.com/keboola/connection/blob/master/Package/ManageApiPhpClient/apiary.apib)

    for the historical document this OpenAPI spec is migrating from.

    '
  version: '1.0'
servers:
- url: https://connection.keboola.com
  description: AWS US East
- url: https://connection.eu-central-1.keboola.com
  description: AWS EU Central
- url: https://connection.north-europe.azure.keboola.com
  description: Azure North Europe
- url: https://connection.east-us-2.azure.keboola-testing.com
  description: Azure Testing
security:
- StorageKey: []
- ManageKey: []
- BearerAuth: []
tags:
- name: Token Verification
  description: Inspect the manage token used for the request.
paths:
  /manage/tokens/verify:
    get:
      tags:
      - Token Verification
      summary: Token Verification
      description: Verifies the supplied Manage token and returns details about it and its creator.
      operationId: get_/manage/tokens/verify::TokenVerifyAction
      responses:
        '200':
          description: Token verification response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManageTokenVerifyResponse'
        '401':
          description: Returned when the Manage token is missing or invalid.
components:
  schemas:
    ManageTokenVerifyResponse:
      required:
      - id
      - description
      - created
      - lastUsed
      - expires
      - isSessionToken
      - isExpired
      - isDisabled
      - scopes
      - type
      - creator
      properties:
        id:
          description: Token identifier.
          type: integer
          example: 13702
        description:
          description: Token description.
          type: string
          example: Example token
        created:
          description: Token creation time (ISO 8601 with `+HHMM` offset).
          type: string
          example: 2021-06-28T22:27:28+0200
        lastUsed:
          description: Last time the token was used (ISO 8601 with `+HHMM` offset). `null` if the token has never been used.
          type:
          - string
          - 'null'
          example: 2022-06-13T22:29:03+0200
        expires:
          description: Token expiration time (ISO 8601 with `+HHMM` offset). `null` if the token does not expire.
          type:
          - string
          - 'null'
          example: 2031-06-26T22:27:28+0200
        isSessionToken:
          description: True if the token is session based.
          type: boolean
          example: false
        isExpired:
          description: True if the token has expired.
          type: boolean
          example: false
        isDisabled:
          description: True if the token is disabled.
          type: boolean
          example: false
        scopes:
          description: List of scopes.
          type: array
          items:
            type: string
          example: []
        type:
          description: Token type.
          type: string
          example: admin
        creator:
          description: Creator details.
          required:
          - id
          - name
          properties:
            id:
              type: integer
              example: 7919
            name:
              type: string
              example: John Doe
          type: object
        user:
          description: User tied to the token. Only present when the token is associated with an admin user; absent (or `null` in clients that materialise missing keys) otherwise.
          required:
          - id
          - name
          - email
          - mfaEnabled
          - features
          - canAccessLogs
          - isSuperAdmin
          properties:
            id:
              type: integer
              example: 7919
            name:
              type: string
              example: John Doe
            email:
              type: string
              example: john.doe@keboola.com
            mfaEnabled:
              type: boolean
              example: true
            features:
              type: array
              items:
                type: string
              example: []
            canAccessLogs:
              type: boolean
              example: true
            isSuperAdmin:
              type: boolean
              example: true
          type:
          - object
          - 'null'
      type: object
      example:
        id: 13702
        description: Example token
        created: 2021-06-28T22:27:28+0200
        lastUsed: 2022-06-13T22:29:03+0200
        expires: 2031-06-26T22:27:28+0200
        isSessionToken: false
        isExpired: false
        isDisabled: false
        scopes: []
        type: admin
        creator:
          id: 7919
          name: John Doe
        user:
          id: 7919
          name: John Doe
          email: john.doe@keboola.com
          mfaEnabled: true
          features: []
          canAccessLogs: true
          isSuperAdmin: true
  securitySchemes:
    StorageKey:
      type: apiKey
      name: X-StorageApi-Token
      in: header
    ManageKey:
      type: apiKey
      name: X-KBC-ManageApiToken
      in: header
    BearerAuth:
      type: http
      bearerFormat: Access Token (kbc_at_...)
      scheme: bearer
