openapi: 3.2.0
info:
  description: API for running component jobs
  version: 1.3.8
  title: Job Queue Project Jobs Stats API
  contact:
    email: devel@keboola.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- description: AWS US East
  url: https://queue.keboola.com
- description: AWS EU Central
  url: https://queue.eu-central-1.keboola.com
- description: Azure North Europe
  url: https://queue.north-europe.azure.keboola.com
- description: Azure Testing
  url: https://queue.east-us-2.azure.keboola-testing.com
- description: SwaggerHub API Auto Mocking
  url: https://virtserver.swaggerhub.com/keboola/job-queue-api/1.3.0
security:
- ApiKeyAuth: []
tags:
- name: Project Jobs Stats
paths:
  /stats/project:
    get:
      summary: Get jobs statistics
      operationId: getProjectStats
      description: 'Get jobs statistics

        '
      tags:
      - Project Jobs Stats
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectStats'
components:
  schemas:
    ProjectStats:
      type: object
      properties:
        jobs:
          type: object
          properties:
            durationSum:
              type: integer
              example: 3600
              description: Total duration sum of all processed jobs. (in seconds)
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-StorageApi-Token
