openapi: 3.0.0
servers:
  - description: Azure North Europe
    url: https://queue.north-europe.azure.keboola.com
  - description: SwaggerHub API Auto Mocking
    url: https://virtserver.swaggerhub.com/keboola/billing-api/1.0.0

info:
  description: API calculates and displays consumed and remaining credits of KBC PAYG users
  version: "1.0.0"
  title: Keboola Billing API
  contact:
    email: support@keboola.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
paths:
  /credits:
    get:
      summary: Show consumed and remaining credits.
      security:
        - StorageApiToken: []
      parameters:
        - in: header
          name: X-StorageApi-Token
          required: true
          schema:
            type: string
          example: 1234-567890abcdefghjkl
      description: |
        Show consumed and remaining credits of the project, identified by the Storage API token.
      responses:
        '200':
          description: credits balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credits'

    post:
      summary: Show consumed and remaining credits with optional top-up.
      security:
        - StorageApiToken: []
      parameters:
        - in: header
          name: X-StorageApi-Token
          required: true
          schema:
            type: string
          example: 1234-567890abcdefghjkl
      description: |
        Show consumed and remaining credits of the project, identified by the Storage API token. If the credit balance
          is zero or negative, then an automatic top-up is attempted. If it succeeds, the new credit balance is returned.
      responses:
        '200':
          description: credits balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credits'

  /duration/workspace:
    put:
      summary: Record duration of a workspace.
      operationId: durationWorkspace
      tags:
        - Duration
      security:
        - BillingManageToken: []
      parameters:
        - in: header
          name: X-KBC-manageapitoken
          description: "Application token with scopes 'billing:manage'"
          required: true
          schema:
            type: string
          example: 1234-567890abcdefghjkl
      description: |
        Record durations of a workspace jobs per project. This is a servicing call for recording telemetry data.
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              properties:
                projectId:
                  type: "string"
                workspaceType:
                  type: "string"
                  enum: ["writer", "sandbox", "transformation"]
                warehouseSize:
                  type: "string"
                  enum: ["x-small", "small", "medium", "large", "x-large", "2x-large", "3x-large", "4x-large"]
                durationSeconds:
                  type: "number"
      responses:
        '201':
          description: Duration of job inserted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DurationWorkspace'

  /duration/job:
    put:
      summary: Record duration of a project job.
      operationId: durationJob
      tags:
        - Duration
      security:
        - BillingManageToken: []
      parameters:
        - in: header
          name: X-KBC-manageapitoken
          description: "Application token with scopes 'billing:manage'"
          schema:
            type: string
          required: true
          example: 1234-567890abcdefghjkl
      description: |
        Record durations of a job in a project. This is a servicing call for recording telemetry data.
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              properties:
                projectId:
                  type: "string"
                jobId:
                  type: "string"
                durationSeconds:
                  type: "number"
      responses:
        '201':
          description: Duration of job inserted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DurationJob'

  /duration/container-sandbox:
    put:
      summary: Record length of running a container sandbox.
      operationId: durationContainerSandbox
      tags:
        - Duration
      security:
        - BillingManageToken: []
      parameters:
        - in: header
          name: X-KBC-manageapitoken
          description: "Application token with scopes 'billing:manage'"
          schema:
            type: string
          required: true
          example: 1234-567890abcdefghjkl
      description: |
        Record length of running a container sandbox. This is a servicing call for recording telemetry data.
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              properties:
                projectId:
                  type: "string"
                  minLength: 1
                sandboxId:
                  type: "string"
                  minLength: 1
                sandboxType:
                  type: "string"
                  minLength: 1
                durationSeconds:
                  type: "number"
                  minimum: 0
      responses:
        '201':
          description: Run recorded

  /marketplaces/resolve-token:
    post:
      summary: Resolve subscription token
      operationId: marketplaces.resolveToken
      tags:
        - Marketplaces
      description: |
        Resolve subscription token provided by marketplace and returns related subscription details.
      security:
        - MarketplacesSubscriptionManageToken: []
      parameters:
        - in: header
          name: X-KBC-ManageApiToken
          description: Application token with scope "marketplace-subscriptions:manage"
          schema:
            type: string
          required: true
          example: 1234-567890abcdefghjkl
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - vendor
                - token
              properties:
                vendor:
                  type: string
                  enum:
                    - azure
                    - gcp
                token:
                  type: string
                  minLength: 1
              example:
                vendor: azure
                token: abcd1234=
      responses:
        '200':
          description: Token resolved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/MarketplaceSubscription'
                  - type: object
                    properties:
                      vendorData:
                        type: object
                        description: >
                          Raw data representing the purchase/subscription returned by the marketplace API. As the data
                          are passed directly from the marketplace API, you must expect it to change at any time.
                          
                          * for Azure the subscription details are returned:
                            https://learn.microsoft.com/en-us/rest/api/resources/subscriptions/get?tabs=HTTP#get-a-single-subscription
                          * for GCP the entitlement details are returned:
                            https://cloud.google.com/marketplace/docs/partners/commerce-procurement-api/reference/rest/v1/providers.entitlements#Entitlement
                      subscriptionId:
                        type: string
                        minLength: 1
                        deprecated: true
                        description: Use `subscription.id` as 1:1 replacement
                      subscriptionData:
                        type: object
                        description: Use `vendorData` as 1:1 replacement
                        deprecated: true
                example:
                  id: "1234"
                  vendor: gcp
                  vendorSubscriptionId: 564be70b-e1d8-4a75-8254-246895056064
                  productId: keboola-europe-west3-saas
                  planId: keboola-small-bigquery-P1Y
                  state: active
                  organizationId:
                  projectId:
                  dateCreated: "2021-09-01T12:00:00+00:00"
                  dateModified: "2021-09-01T12:00:00+00:00"
                  vendorData:
                    account: providers/keboola-marketplace/accounts/56164807-70d0-4bdb-bfbd-512e8588b22a
                    name: providers/keboola-marketplace/entitlements/61c439ba-2ddd-4eeb-b1bf-9aa6c30ebc4b
                    plan: keboola-small-bigquery-P1Y
                    productExternalName: keboola-europe-west3-saas.endpoints.keboola-marketplace.cloud.goog
                    provider: keboola-marketplace
                    state: ENTITLEMENT_ACTIVATION_REQUESTED
                    createTime: 2024-01-05T14:59:34.506742Z
                    updateTime: 2024-01-10T10:05:02.847652Z

        '400':
          description: Bad request

  /marketplaces/confirm-subscription:
    post:
      summary: Confirm subcription
      operationId: marketplaces.confirmSubscription
      tags:
        - Marketplaces
      description: |
        Confirm subscription after on-boarding user.
        
        Links the project to the subscription. Confirms to the marketplace that the subscription is ready to be used.
      security:
        - MarketplacesSubscriptionManageToken: []
      parameters:
        - in: header
          name: X-KBC-ManageApiToken
          description: Application token with scope "marketplace-subscriptions:manage"
          schema:
            type: string
          required: true
          example: 1234-567890abcdefghjkl
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - subscriptionId
                - organizationId
                - projectId
              properties:
                subscriptionId:
                  type: string
                  minLength: 1
                organizationId:
                  type: string
                  minLength: 1
                projectId:
                  type: string
                  minLength: 1
              example:
                subscriptionId: "1234"
                organizationId: "6497"
                projectId: "987654"
      responses:
        '200':
          description: Confirmation processed

        '400':
          description: Bad request

components:
  securitySchemes:
    StorageApiToken:
      type: apiKey
      in: header
      name: X-StorageApi-Token
    BillingManageToken:
      type: apiKey
      in: header
      name: X-KBC-ManageApiToken
      description: 'Application token with scope "billing:manage"'
    MarketplacesSubscriptionManageToken:
      type: apiKey
      in: header
      name: X-KBC-ManageApiToken
      description: 'Application token with scope "marketplace-subscriptions:manage"'
  schemas:
    Credits:
      type: object
      required:
        - consumed
        - remaining
      properties:
        consumed:
          type: number
          example: 123
        remaining:
          type: number
          example: 456
        stats:
          type: "object"
          properties:
            componentJobs:
              type: "object"
              properties:
                consumed:
                  type: number
                  example: 4567.89
            workspaceJobs:
              type: "object"
              properties:
                  workspaceType:
                    type: string
                    enum: ["writer", "sandbox-sql", "transformation", "sandbox-data-science"]
                    example: 'writer'
                  warehouseSize:
                    type: string
                    enum: ["x-small", "small", "medium", "large", "x-large", "2x-large", "3x-large", "4x-large"]
                    example: 'x-large'
                  consumed:
                    type: number
                    example: 1234.56
            marketplaceSubscription:
              type: object
              required:
                - vendor
                - state
                - billingLink
              properties:
                vendor:
                  type: string
                  enum:
                    - aws
                    - azure
                state:
                  type: string
                  enum:
                    - inactive
                    - active
                    - suspended
                    - unsubscribed
                billingLink:
                  type: string
                  format: url
              example:
                vendor: azure
                state: active
                billingLink: https://portal.azure.com/#view/HubsExtension/BrowseResourceBlade/resourceType/Microsoft.SaaS%2Fresources
    DurationWorkspace:
      type: object
      properties:
        PartitionKey:
          type: string
          example: '123'
        RowKey:
          type: string
          example: '05e238318064a0159e6547db5dd6583d'
        projectId:
          type: string
          example: '123'
        workspaceType:
          type: string
          enum: ["writer", "sandbox-sql", "transformation", "sandbox-data-science"]
          example: 'writer'
        warehouseSize:
          type: string
          enum: ["x-small", "small", "medium", "large", "x-large", "2x-large", "3x-large", "4x-large"]
          example: 'x-large'
        durationSeconds:
          type: number
          example: 123.45

    DurationJob:
      type: object
      properties:
        PartitionKey:
          type: string
          example: '123'
        RowKey:
          type: string
          example: 'ac9fb9748cc233de6c25225a8b437c9a'
        projectId:
          type: string
          example: '123'
        jobId:
          type: string
          example: '456'
        durationSeconds:
          type: number
          example: 123.45

    MarketplaceSubscription:
      type: object
      properties:
        id:
          type: string
        vendor:
          type: string
          enum:
            - gcp
            - aws
            - azure
        vendorSubscriptionId:
          type: string
          minLength: 1
        productId:
          type: string
          nullable: true
          minLength: 1
        planId:
          type: string
          minLength: 1
        state:
          type: string
          enum:
            - inactive
            - active
            - suspended
            - unsubscribed
        organizationId:
          type: string
          nullable: true
          minLength: 1
          description: >
            ID of organization attached to the subscription
            Is `null` until organization is attached using [/marketplaces/confirm-subscription](#/Marketplaces/marketplaces.confirmSubscription)
        projectId:
          type: string
          nullable: true
          minLength: 1
          description: >
            ID of project attached to the subscription.
            Is `null` until project is attached using [/marketplaces/confirm-subscription](#/Marketplaces/marketplaces.confirmSubscription)
        dateCreated:
          type: string
          format: date-time
        dateModified:
          type: string
          format: date-time
      example:
        id: "1234"
        vendor: gcp
        vendorSubscriptionId: 564be70b-e1d8-4a75-8254-246895056064
        productId: keboola-europe-west3-saas
        planId: keboola-small-bigquery-P1Y
        state: active
        organizationId:
        projectId:
        dateCreated: "2021-09-01T12:00:00+00:00"
        dateModified: "2021-09-01T12:00:00+00:00"
